Repository Vizzuality/heco-invest, pull requests merged in 2022-11, with the labels that each got.

#653 Update project public page mobile layout
  frontend/containers/impact-chart/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/pages/project/[id]/index.tsx
Labels: front-end, ready for review

#671 Update discover mobile layout
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Labels: front-end, ready for review

#682 Let 1215 fe implement the new impact graph
  frontend/components/forms/field-info/component.tsx
  frontend/components/map/project-legend/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/modals/impact/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/helpers/impact-chart.ts
  frontend/public/images/about/about-impact-chart.png
  frontend/public/images/about/about-impact-chart.svg
  frontend/services/enums/enumService.ts
Labels: front-end, ready for review

#681 Basic http auth for Rails app - backoffice only
  backend/app/controllers/backoffice/admins/passwords_controller.rb
  backend/app/controllers/backoffice/admins/sessions_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/http_auth.rb
  backend/spec/requests/backoffice_http_auth_spec.rb
  backend/spec/support/request_helpers.rb
Labels: back-end

#691 Fix bugs related to the search on Discover
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/helpers/pages.ts
Labels: front-end, ready for review

#687 Remove the deployments to Vercel
  .github/workflows/frontend-deployment.yml
  .github/workflows/frontend-development-deployment.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-staging-deployment.yml
  .github/workflows/frontend-tests.yml
Labels: front-end, ready for review

#685 Fix the visibility of the Discover's filters panel on Chrome (Android)
  frontend/containers/forms/filters/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/layouts/discover-page/component.tsx
Labels: front-end, ready for review

#678 Enable access restriction when environment variables are set
  frontend/.env.sample
  frontend/Dockerfile
  frontend/README.md
  frontend/components/confirmation-prompt/types.d.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/share-icons/component.tsx
  frontend/docker-compose-test.yml
  frontend/middleware.ts
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/yarn.lock
  infrastructure/base/modules/env/main.tf
Labels: front-end, ready for review

#684 Improve the responsiveness of the public pages and Discover
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/sdgs/component.tsx
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
Labels: front-end, ready for review

#694 LET-1241 Explicit error reporting from jobs instance
  backend/app/jobs/application_job.rb
  backend/config/initializers/google_cloud_error_reporting.rb
Labels: back-end

#695 Update some source strings based on Transifex corrections
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/map-help/component.tsx
  frontend/containers/faq-page/answers/account/investor-info/component.tsx
  frontend/containers/faq-page/answers/account/project-developer-info/component.tsx
  frontend/containers/faq-page/answers/open-calls/open-call-info/component.tsx
  frontend/containers/faq-page/answers/projects/project-impact/component.tsx
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/home/carousel/component.tsx
  frontend/containers/home/priorities/component.tsx
  frontend/containers/investor-form/pages/priority.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/share-icons/component.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/hooks/useFaq.tsx
  frontend/hooks/useInterests.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-in/reset-password.tsx
  frontend/schemas/investor.ts
  frontend/schemas/project-developer.ts
  frontend/schemas/project.ts
Labels: front-end, ready for review

#696 Manually keep track of changed attributes, which get wiped out in aft…
  backend/app/models/concerns/translatable.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
Labels: back-end

#692 LET-590 Removed "trusted" alias for "verified"
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/swagger_helper.rb
Labels: back-end

#693 Cleanup test api resources
  backend/app/controllers/api/v1/goes_controller.rb
  backend/app/controllers/api/v1/test_jobs_controller.rb
  backend/app/jobs/test_error_job.rb
  backend/app/jobs/test_job.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/test_jobs_spec.rb
Labels: back-end

#697 Fix a bug preventing the user from using the homepage's search bar
  frontend/helpers/pages.ts
Labels: front-end, ready for review

#698 Fix issues with the search bar on the homepage and Discover
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/layouts/discover-page/component.tsx
Labels: front-end, ready for review

#699 Fix full screen layout issues on Chrome (Android)
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/projects.tsx
Labels: front-end, ready for review

#700 Upgraded actions/checkout to v3
  .github/workflows/backend-linters.yml
  .github/workflows/backend-push-translations.yml
  .github/workflows/backend-security.yml
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-push-translations.yml
  .github/workflows/frontend-tests.yml
Labels: dependencies

#703 Correct a back-office source string wording (“Reset”)
  backend/config/locales/zu.yml
Labels: ready for review, back-end

#706 Fix missing visual clue when navigating to Discover and the Account information page on the client
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/settings/navigation/component.tsx
Labels: front-end, ready for review

#708 Fire Google Analytics events for specific actions
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/lib/analytics/ga.ts
  frontend/pages/_document.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/sign-in/code.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Labels: front-end, ready for review
