Repository Vizzuality/heco-invest, pull requests merged in 2022-07, with the labels that each got.

#341 Feature/project draft statuses
  backend/app/controllers/api/v1/accounts/base_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/ability.rb
  backend/app/models/project.rb
  backend/app/models/project_status.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220630095402_change_project_default_status.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#344 Fix sql tunnel port in README, add possiblity to change port
  backend/config/database.yml
  infrastructure/README.md
Labels: back-end

#339 feat: Possibility to edit Admins via backoffice
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/app/views/backoffice/admins/_section_information.html.erb
  backend/app/views/backoffice/admins/_section_password.html.erb
  backend/app/views/backoffice/admins/edit.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/app/views/backoffice/projects/_section_status.html.erb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/admins_spec.rb
Labels: back-end

#347 Clearing compiled zu.json causing Storybook to not work
  frontend/lang/compiled/zu.json
Labels: bug, front-end

#346 feat: Notify user when account is removed
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/views/user_mailer/destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
Labels: back-end

#349 Update domains to reflect the new DNS change
  frontend/.env.sample
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
Labels: front-end, ready for review

#334 Let 651 fe changes on about page
  frontend/lang/compiled/zu.json
  frontend/pages/about.tsx
  frontend/public/images/about-about-section.png
  frontend/public/images/about-impact.png
  frontend/public/images/about/about-biodiversity.jpeg
  frontend/public/images/about/about-climate.jpeg
  frontend/public/images/about/about-community.jpg
  frontend/public/images/about/about-heco.jpg
  frontend/public/images/about/about-impact-chart.svg
  frontend/public/images/about/about-impact-lg.png
  frontend/public/images/about/about-intro-mobile.png
  frontend/public/images/about/about-intro.png
  frontend/public/images/about/about-water.jpg
  frontend/public/images/logos/about-google.png
  frontend/public/images/logos/wwf.png
Labels: front-end, ready for review

#343 Add for-investors page
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/for-public-pages/project-card/component.tsx
  frontend/containers/for-public-pages/project-card/index.ts
  frontend/containers/for-public-pages/project-card/types.ts
  frontend/containers/home/hero/component.tsx
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/pages/for-investors.tsx
  frontend/public/images/for-investor/for-investor-can-do-1.jpeg
  frontend/public/images/for-investor/for-investor-can-do-2.jpeg
  frontend/public/images/for-investor/for-investor-can-do-3.jpeg
  frontend/public/images/for-investor/for-investor-category.png
  frontend/public/images/for-investor/for-investor-priority-landscapes.png
  frontend/public/images/for-investor/for-investors-why-to-invest.jpg
  frontend/services/projects/projectService.ts
  frontend/svgs/project/project-card-arrow.svg
Labels: front-end

#345 feat: API endpoint for transfering ownership
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/models/ability.rb
  backend/app/views/user_mailer/ownership_transferred.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-transfer-ownership.json
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/support/shared_examples/api/with_forbidden_error.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#355 refactoring: Only Admins can access background job events API
  backend/app/controllers/api/v1/background_job_events_controller.rb
  backend/spec/requests/api/v1/background_job_events_spec.rb
Labels: back-end

#353 feat: Draft projects are not shown at backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#350 feat: Notify PD on changes related to project involvement
  backend/app/mailers/project_developer_mailer.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_involvement.rb
  backend/app/views/project_developer_mailer/added_to_project.html.erb
  backend/app/views/project_developer_mailer/removed_from_project.html.erb
  backend/config/locales/zu.yml
  backend/spec/factories/project_involvements.rb
  backend/spec/mailers/project_developer_mailer_spec.rb
  backend/spec/models/project_involvement_spec.rb
  backend/spec/models/project_spec.rb
Labels: back-end

#360 fix: Jobs instance can access backoffice routes
  backend/config/routes.rb
Labels: back-end

#358 Fix priority landscapes map layout
  frontend/pages/for-investors.tsx
Labels: bug, front-end

#361 Let 468 fe 2 add an explanation and visualization of the priority landscapes to the project page
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#370 Add layers tooltip
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/index.ts
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/hooks/useLayers.ts
Labels: front-end

#363 Let 662 preview card of a project must open when clicking the project pin on the map
  frontend/components/map/layers/cluster/component.tsx
  frontend/components/map/layers/cluster/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/pin/component.tsx
  frontend/containers/discover-map/types.ts
  frontend/containers/project-details/component.tsx
  frontend/pages/discover/projects.tsx
Labels: front-end

#371 Add status column to dashboard projects
  frontend/pages/dashboard/projects.tsx
Labels: front-end, ready for review

#373 chore: update of Rails to 7.0.2
  backend/Gemfile
  backend/Gemfile.lock
Labels: back-end

#372 fix: Call after destroy callback for involved_project_developers
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/spec/models/project_spec.rb
Labels: bug, back-end

#342 FE - Fix logic/permissions on favouriting PDs, Investors & Projects
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-details/favorite-contact/types.ts
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/helpers/project.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/investors/investorsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/services/users/userService.ts
  frontend/types/investor.ts
  frontend/types/project.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#374 feat: List of users at Backoffice
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/models/user.rb
  backend/app/services/backoffice/csv/user_exporter.rb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/users/_filters.html.erb
  backend/app/views/backoffice/users/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/migrate/20220713091005_add_trackable_to_users.rb
  backend/db/schema.rb
  backend/spec/services/backoffice/csv/user_exporter_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Labels: back-end

#367 feat: Can change ownership via backoffice
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/app/views/backoffice/accounts/_owner_form.html.erb
  backend/app/views/backoffice/investors/_section_owner.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/_section_owner.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/spec/factories/account.rb
  backend/spec/models/account_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#377 Fix discovery search filter button bug
  frontend/containers/layouts/discover-search/component.tsx
Labels: bug, front-end

#383 Remove queries on signout
  frontend/services/authentication/authService.ts
Labels: bug, front-end, ready for review

#356 Display message in PD & Investor forms informing the users of the account language
  frontend/components/alert/component.stories.tsx
  frontend/components/alert/component.tsx
  frontend/components/alert/types.ts
  frontend/containers/forms/content-language-alert/component.stories.tsx
  frontend/containers/forms/content-language-alert/component.tsx
  frontend/containers/forms/content-language-alert/index.ts
  frontend/containers/forms/content-language-alert/types.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investors/edit.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
Labels: front-end, ready for review

#380 Project developer public page wording changes
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/containers/tags-grid/types.ts
  frontend/helpers/slugify.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Labels: front-end, ready for review

#379 Implement collapsible map legend as per designs
  frontend/components/map/project-legend/component.tsx
  frontend/containers/discover-map/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/pages/discover/projects.tsx
Labels: front-end, ready for review

#390 Fix frontend crashing when trying to access Dashboard/AccountInformation
  frontend/services/account/index.ts
Labels: bug, front-end, ready for review

#391 Fix bug preventing a project developer from being able to edit their projects
  frontend/containers/project-form/helpers.ts
  frontend/pages/project/[id]/edit.tsx
Labels: bug, front-end, ready for review

#387 feat: Disable delete links for owners at Backoffice
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/models/user.rb
  backend/app/services/backoffice/csv/user_exporter.rb
  backend/app/views/backoffice/base/menu/_item.html.erb
  backend/app/views/backoffice/users/edit.html.erb
  backend/app/views/backoffice/users/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/user_exporter_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Labels: back-end

#396 Fix bugs causing bad redirects (+ showing modal) on the PD and Investor Forms Outro screens
  frontend/containers/investor-form/component.tsx
  frontend/containers/investor-form/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investors/edit.tsx
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
Labels: bug, front-end, ready for review

#328 Let 545 fe user can accept invitation to join account
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/auth-page/header/component.tsx
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-out.tsx
  frontend/pages/sign-up/index.tsx
  frontend/public/images/invitation.svg
  frontend/services/api.ts
  frontend/services/authentication/authService.ts
  frontend/services/invitation/invitationService.ts
  frontend/services/users/userService.ts
  frontend/types/invitation.ts
  frontend/types/user.ts
Labels: front-end, ready for review

#384 Let 609 fe add beta tag
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/containers/layouts/beta-version-disclaimer/index.ts
  frontend/containers/layouts/logo/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
Labels: front-end

#392 refactoring: use salt for authentication
  backend/app/controllers/api/v1/sessions_controller.rb
  backend/app/models/user.rb
  backend/db/migrate/20220718082600_add_token_to_users.rb
  backend/db/schema.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/session_spec.rb
Labels: back-end

#393 feat: API endpoint for Project deletion
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#394 test: Invitation API can be used to resend invitation.
  backend/spec/requests/api/v1/invitation_spec.rb
Labels: back-end

#398 Unapproved users are shown the "Pending approval" screen when trying to access "My area"
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/types.ts
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/dashboard/index.tsx
  frontend/pages/investors/pending.tsx
  frontend/pages/project-developers/pending.tsx
  frontend/pages/project/[id]/edit.tsx
Labels: front-end, ready for review

#399 feat: Show image thumbnail inside backoffice forms
  backend/app/views/backoffice/base/_image_with_thumbnail.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/users/_form.html.erb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/users_spec.rb
  backend/spec/system_helper.rb
Labels: back-end

#401 Fix too strick permissions preventing users from signing up
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-up/account-type.tsx
Labels: front-end, ready for review

#402 Map legend icon color change
  frontend/components/map/project-legend/component.tsx
Labels: front-end, ready for review

#403 feat: Notify involved project developers when project gets destroyed
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/mailers/admin_mailer.rb
  backend/app/mailers/project_developer_mailer.rb
  backend/app/mailers/user_mailer.rb
  backend/app/models/project.rb
  backend/app/models/project_involvement.rb
  backend/app/models/user.rb
  backend/app/views/project_developer_mailer/project_destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/mailers/project_developer_mailer_spec.rb
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/models/project_involvement_spec.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Labels: back-end

#410 Let 757 fe location search suggestion box not fully visible in project form
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/forms/geometry/component.tsx
  frontend/lang/transifex/zu.json
Labels: bug, front-end, ready for review

#405 Let 456 filters
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/home/hero/component.tsx
  frontend/containers/layouts/discover-search/component.stories.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
  frontend/helpers/pages.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
Labels: front-end

#411 feat: API endpoint for changing password
  backend/app/controllers/api/v1/reset_passwords_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#414 fix: Owner of account can remove invited Users
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: bug, back-end

#416 refactoring: Private endpoint for projects does FTS only by name attr…
  backend/app/controllers/api/v1/accounts/projects_controller.rb
Labels: back-end

#407 Send invitation email in account language
  backend/app/controllers/api/v1/invitations_controller.rb
  backend/app/models/admin.rb
  backend/spec/fixtures/snapshots/api/v1/invitation-accepted.json
  backend/spec/requests/api/v1/invitation_spec.rb
Labels: back-end

#420 feat: Breadcrumb arrow is part of link
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
Labels: back-end

#415 fix: Approve/Reject action at backoffice uses account language
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/concerns/translatable.rb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/db/migrate/20220725074544_remove_language_from_investors_and_p_ds.rb
  backend/db/schema.rb
  backend/spec/factories/investor.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: bug, back-end

#418 Fix bug causing discover map to not be interactable
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/types.ts
Labels: bug, front-end, ready for review

#404 User can save a project as a draft
  frontend/containers/investor-form/component.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/containers/multi-page-layout/footer/paging/types.ts
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/loading/component.tsx
  frontend/containers/multi-page-layout/loading/index.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/containers/project-form/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/next.config.js
  frontend/pages/dashboard/projects.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/pages/projects/new.tsx
  frontend/services/account/index.ts
  frontend/services/projects/projectService.ts
  frontend/types/project.ts
Labels: front-end, ready for review

#412 Users can delete a project from the Dashboard
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/index.ts
  frontend/containers/dashboard/projects/table/cells/actions/types.ts
  frontend/containers/dashboard/projects/table/cells/status/component.tsx
  frontend/containers/dashboard/projects/table/cells/status/index.ts
  frontend/containers/dashboard/projects/table/cells/status/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/dashboard/projects/table/index.ts
  frontend/containers/dashboard/projects/table/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/projects.tsx
  frontend/services/account/index.ts
Labels: front-end, ready for review

#409 Let 800 fe invited user
  frontend/containers/dashboard/users/table/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/account/index.ts
  frontend/services/invitation/invitationService.ts
  frontend/services/users/userService.ts
Labels: bug, front-end

#427 Fix robots.txt
  frontend/public/robots.txt
Labels: bug, front-end, ready for review

#424 Add resend invite action
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
Labels: front-end

#431 Translate dashboard/users table column headers
  frontend/containers/dashboard/users/table/component.tsx
  frontend/lang/transifex/zu.json
Labels: bug, front-end, ready for review

#428 Add FAQ page layout
  frontend/components/expando/component.tsx
  frontend/components/expando/types.ts
  frontend/containers/faq-page/faq-expando/component.tsx
  frontend/containers/faq-page/faq-expando/index.ts
  frontend/containers/faq-page/faq-expando/types.ts
  frontend/hooks/useFaq.tsx
  frontend/hooks/useScrollToElement.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/next.config.js
  frontend/pages/faq.tsx
Labels: front-end, ready for review

#435 Remove duplicated menu items on discover pages
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/layouts/discover-page/component.tsx
Labels: front-end

#430 Change search button text to 'search' when searching
  frontend/containers/layouts/discover-search/component.tsx
Labels: bug, front-end

#432 Add info to map layers tooltips
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
Labels: bug, front-end

#426 Let 774 fe user reset password
  frontend/lang/transifex/zu.json
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/reset-password.tsx
  frontend/services/reset-password/reset-password-service.ts
  frontend/services/users/userService.ts
  frontend/types/sign-in.ts
  frontend/validations/sign-in.ts
Labels: front-end

#425 feat: All endpoints which returns list of favourites
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/favourite_open_call.rb
  backend/app/models/open_call.rb
  backend/app/models/user.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220727083258_create_favourite_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/account.rb
  backend/spec/factories/favourite_open_calls.rb
  backend/spec/factories/user.rb
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/project-developers-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/project-developers-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/project-developers-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/models/favourite_open_call_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#437 feat: Devise uses deliver_later method
  backend/app/mailers/admin_mailer.rb
  backend/app/mailers/devise_mailer.rb
  backend/app/models/admin.rb
  backend/app/models/user.rb
  backend/config/initializers/devise.rb
  backend/config/locales/devise.en.yml
  backend/config/locales/devise_invitable.en.yml
  backend/config/locales/simple_form.en.yml
  backend/config/locales/zu.yml
  backend/spec/mailers/devise_mailer_spec.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/api/v1/email_confirmation_spec.rb
  backend/spec/requests/api/v1/invitation_spec.rb
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
Labels: back-end

#423 Create settings/info page and allow delete own user
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/settings/component.tsx
  frontend/layouts/settings/index.ts
  frontend/layouts/settings/navigation/component.tsx
  frontend/layouts/settings/navigation/index.ts
  frontend/layouts/settings/navigation/types.ts
  frontend/layouts/settings/types.ts
  frontend/next.config.js
  frontend/pages/settings/information.tsx
  frontend/types/user.ts
Labels: front-end

#436 add faq href to existing faq links on pages
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/hooks/useFaq.tsx
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/invitation.tsx
  frontend/pages/projects/pending.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
Labels: front-end

#439 Add position to table menu
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/types.ts
  frontend/containers/dashboard/row-menu/component.tsx
  frontend/containers/dashboard/row-menu/types.ts
Labels: bug, front-end

#441 Fix invitation flow
  frontend/lang/compiled/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/invitation/invitationService.ts
Labels: bug, front-end

#434 Let 818 fe update the static pages footer with critical information and links
  frontend/enums/index.ts
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/privacy-policy.tsx
  frontend/public/images/footer-bc3.png
  frontend/public/images/footer-google.png
  frontend/public/images/footer-wwf.png
Labels: front-end, ready for review

#440 fix: Adding correct FE link to reset password email
  backend/app/controllers/concerns/api/errors.rb
  backend/app/views/users/mailer/confirmation_instructions.html.erb
  backend/app/views/users/mailer/reset_password_instructions.html.erb
  backend/config/locales/zu.yml
Labels: back-end
