Repository Vizzuality/heco-invest, pull requests merged in 2022-06, with the labels that each got.

#232 fix: Geometry param is permitted even for nested attributes
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/config/brakeman.ignore
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Labels: bug, back-end

#231 feat: Added pagination to backoffice tables
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/shared/_navigation.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#225 Fix image exception when creating project
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/pages/projects/new.tsx
Labels: front-end, ready for review

#227 fix social media validation schemmas
  frontend/helpers/pages.ts
  frontend/schemas/investor.ts
  frontend/schemas/projectDeveloper.ts
Labels: bug, front-end

#236 feat: Making backoffice tables sortable
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/user.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/initializers/ransack.rb
  backend/db/migrate/20220601090659_add_projects_count_to_project_developers.rb
  backend/db/migrate/20220601091618_add_users_count_to_accounts.rb
  backend/db/migrate/20220601092750_add_open_call_counts_to_investors.rb
  backend/db/schema.rb
  backend/spec/support/shared_examples/backoffice/with_table_sorting.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#242 Fix flaky backend tests - snapshots ignore included array
  backend/Gemfile
  backend/Gemfile.lock
  backend/spec/rails_helper.rb
Labels: bug, back-end

#243 Fixing account users count in backoffice
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/spec/factories/account.rb
Labels: bug, back-end

#238 feat: New numerical filter for Project impacts
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#198 feat: add filter options
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/index.ts
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/mockups/categories.json
  frontend/mockups/enums.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/services/enums/enumService.ts
Labels: front-end

#246 Feature/Backoffice project list
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/models/project.rb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/seeds.rb
  backend/spec/models/project_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#244 Let 411 fe display and cluster the projects on the map search page
  frontend/components/map/layers/cluster/component.tsx
  frontend/components/map/layers/cluster/index.ts
  frontend/components/map/layers/cluster/types.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/pin-cluster/component.tsx
  frontend/containers/discover-map/pin-cluster/helper.ts
  frontend/containers/discover-map/pin-cluster/index.ts
  frontend/containers/discover-map/pin-cluster/types.ts
  frontend/containers/discover-map/pin/component.tsx
  frontend/containers/discover-map/pin/index.ts
  frontend/containers/discover-map/pin/types.ts
  frontend/enums/index.ts
  frontend/mockups/projects-map.json
  frontend/package.json
  frontend/pages/projects/new.tsx
  frontend/services/projects/projectService.ts
  frontend/svgs/map/marker.svg
  frontend/svgs/project/marker.svg
  frontend/svgs/project/trusted-marker.svg
  frontend/types/project.ts
  frontend/yarn.lock
Labels: front-end

#250 Let 403 fe add impact filter option to search bar component
  frontend/containers/forms/filters/component.tsx
  frontend/layouts/discover-page/component.tsx
Labels: front-end, ready for review

#240 Dashboard layout / page placeholders w/permissions set
  frontend/containers/project-card/component.tsx
  frontend/enums/index.ts
  frontend/hooks/use-scroll-y.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/account-info/component.tsx
  frontend/layouts/dashboard/account-info/index.ts
  frontend/layouts/dashboard/account-info/types.ts
  frontend/layouts/dashboard/account-picture/component.tsx
  frontend/layouts/dashboard/account-picture/index.ts
  frontend/layouts/dashboard/account-picture/types.ts
  frontend/layouts/dashboard/component.stories.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/dashboard/header/index.ts
  frontend/layouts/dashboard/header/types.ts
  frontend/layouts/dashboard/navigation/component.tsx
  frontend/layouts/dashboard/navigation/index.ts
  frontend/layouts/dashboard/navigation/types.ts
  frontend/layouts/dashboard/types.ts
  frontend/layouts/naked/component.stories.tsx
  frontend/layouts/naked/component.tsx
  frontend/layouts/naked/index.ts
  frontend/layouts/naked/types.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/api/v1/user/investor.json
  frontend/mockups/api/v1/user/project_developer.json
  frontend/package.json
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/dashboard/favorites.tsx
  frontend/pages/dashboard/index.tsx
  frontend/pages/dashboard/open-call-applications.tsx
  frontend/pages/dashboard/open-calls.tsx
  frontend/pages/dashboard/projects.tsx
  frontend/pages/dashboard/users.tsx
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#239 feat: Sends emails on Account approve or reject
  .github/workflows/backend-tests.yml
  backend/.env.sample
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/mailers/user_mailer.rb
  backend/app/views/user_mailer/approved.html.erb
  backend/app/views/user_mailer/rejected.html.erb
  backend/config/locales/zu.yml
  backend/docker-compose-test.yml
  backend/spec/mailers/user_mailer_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system_helper.rb
  infrastructure/base/modules/env/main.tf
Labels: back-end

#258 fix: increase waiting times at system test helper
  backend/spec/system_helper.rb
Labels: back-end

#260 feat: Adding Phone and Email to Investor/PD table
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#259 feat: Total count of Projects/PDs/Investors at backoffice
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/base/_total_records.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/support/shared_examples/backoffice/with_table_pagination.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#254 Feature/backoffice project developer edit
  backend/Gemfile
  backend/Gemfile.lock
  backend/Procfile.dev
  backend/app/assets/images/checkbox-checked.svg
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/concerns/backoffice/breadcrumbs.rb
  backend/app/controllers/concerns/backoffice/content_language.rb
  backend/app/controllers/concerns/backoffice/sections.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/account.rb
  backend/app/models/admin.rb
  backend/app/models/backoffice/breadcrumb.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/investor.rb
  backend/app/models/language.rb
  backend/app/models/location.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_status.rb
  backend/app/models/review_status.rb
  backend/app/models/user.rb
  backend/app/validators/array_inclusion_validator.rb
  backend/app/views/backoffice/accounts/_common_fields.html.erb
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
  backend/app/views/backoffice/base/_filters.html.erb
  backend/app/views/backoffice/base/_flash_messages.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/base/_pagination.html.erb
  backend/app/views/backoffice/investors/_filters.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/_filters.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/application.rb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/config/tailwind.config.js
  backend/package.json
  backend/spec/fixtures/files/picture_2.jpg
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system_helper.rb
  backend/yarn.lock
Labels: back-end

#265 bug: fix project page bug.
  frontend/containers/project-page/developers/component.tsx
Labels: bug, front-end

#261 Add cloudtasker url as env var to the backend app
  infrastructure/base/modules/cloudrun/main.tf
  infrastructure/base/modules/cloudrun/outputs.tf
  infrastructure/base/modules/env/main.tf
Labels: infrastructure

#269 Grant Translation API permissions to jobs instance service account
  infrastructure/base/modules/env/main.tf
Labels: infrastructure

#272 Include /backend prefix for complied assets
  backend/Dockerfile
  backend/docker-compose-test.yml
  infrastructure/base/modules/env/main.tf
Labels: back-end, infrastructure

#267 feat: Allow to export data as csv at backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/services/backoffice/csv/base_exporter.rb
  backend/app/services/backoffice/csv/investor_exporter.rb
  backend/app/services/backoffice/csv/project_developer_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/base/_total_records.html.erb
  backend/config/initializers/inflections.rb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/investor_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_developer_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
  backend/spec/support/shared_examples/backoffice/with_csv_export.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#217 Map uses custom Mapbox' basemap
  frontend/.env.sample
  frontend/.storybook/main.js
  frontend/README.md
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, ready for review

#271 Add project to project page map
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/project-page/overview/helpers.ts
Labels: front-end

#275 LET-571 Set max duration to 36 months
  backend/app/models/project.rb
  backend/spec/models/project_spec.rb
Labels: back-end

#276 Feature/backoffice investor edit
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/concerns/backoffice/content_language.rb
  backend/app/views/backoffice/accounts/_common_fields.html.erb
  backend/app/views/backoffice/accounts/_content_language_form.html.erb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/app/views/backoffice/base/_content_language_selector.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/investors/_section_language.html.erb
  backend/app/views/backoffice/investors/_section_profile.html.erb
  backend/app/views/backoffice/investors/_section_status.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/_section_language.html.erb
  backend/app/views/backoffice/project_developers/_section_profile.html.erb
  backend/app/views/backoffice/project_developers/_section_status.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/investors_spec.rb
Labels: back-end

#278 Feature/backoffice delete account
  backend/app/assets/images/arrow-left.svg
  backend/app/assets/images/search.svg
  backend/app/assets/images/trash.svg
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/backoffice/base/_breadcrumbs.html.erb
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/investors/edit.html.erb
  backend/app/views/backoffice/project_developers/edit.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#262 Let 548 fe add filter suggestions to the search pages search bar
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/index.ts
  frontend/containers/search-auto-suggestion/types.ts
  frontend/helpers/pages.ts
  frontend/services/enums/enumService.ts
Labels: front-end, ready for review

#280 feat: Job for purging expired users
  backend/app/controllers/jobs/base_controller.rb
  backend/app/controllers/jobs/users_controller.rb
  backend/config/routes/jobs.rb
  backend/spec/requests/jobs/test_spec.rb
  backend/spec/requests/jobs/users_controller_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#279 refactoring: Only changed attributes are translated
  backend/app/jobs/translate_job.rb
  backend/app/models/concerns/translatable.rb
  backend/app/services/translations/translate.rb
  backend/spec/services/translations/translate_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
Labels: back-end

#256 feat(front): invite users to project developer account[LET-546]
  frontend/components/forms/textarea/component.tsx
  frontend/components/forms/textarea/types.ts
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/containers/users/invite-users-modal/index.ts
  frontend/containers/users/invite-users-modal/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
Labels: front-end

#284 feat/front/LET-546-invite-users-to-pd-account
  frontend/pages/dashboard/users.tsx
Labels: front-end

#293 recover
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/containers/users/invite-users-modal/index.ts
  frontend/containers/users/invite-users-modal/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
Labels: front-end

#281 feat(front): map location search [LET-406]
  frontend/components/map/project-legend/component.tsx
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/index.ts
  frontend/containers/discover-map/location-searcher/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/store/index.ts
  frontend/store/projects/index.ts
  frontend/svgs/ui/close.svg
  frontend/yarn.lock
Labels: front-end, ready for review

#264 PD Dashboard - projects table WIP
  frontend/components/pagination/component.tsx
  frontend/components/pagination/constants.ts
  frontend/components/pagination/types.ts
  frontend/components/table/component.stories.tsx
  frontend/components/table/component.tsx
  frontend/components/table/index.ts
  frontend/components/table/types.d.ts
  frontend/containers/dashboard/no-search-results/component.tsx
  frontend/containers/dashboard/no-search-results/index.ts
  frontend/containers/dashboard/no-search-results/types.ts
  frontend/containers/dashboard/row-menu/component.tsx
  frontend/containers/dashboard/row-menu/index.ts
  frontend/containers/dashboard/row-menu/types.ts
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/containers/dashboard/search-and-info/index.ts
  frontend/containers/dashboard/search-and-info/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/project-page/overview/helpers.ts
  frontend/enums/index.ts
  frontend/helpers/dashboard.ts
  frontend/hooks/use-scroll-on-query.js
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/types.ts
  frontend/package.json
  frontend/pages/dashboard/projects.tsx
  frontend/services/account/index.ts
  frontend/svgs/ui/sort.svg
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: front-end, wip

#286 Sort country, state and municipality alphabetically
  frontend/containers/project-form-pages/pages/general-information.tsx
Labels: front-end, ready for review

#288 Table component w/ existing Pagination (+ theme support)
  frontend/components/table/component.stories.tsx
Labels: front-end, ready for review

#289 feat: Update of Project via Backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/views/backoffice/projects/_contact_information.html.erb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/app/views/backoffice/projects/_section_information.html.erb
  backend/app/views/backoffice/projects/_section_project_developers.html.erb
  backend/app/views/backoffice/projects/_section_status.html.erb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#249 Adding data to project public page + a few tweaks
  frontend/containers/impact-text/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-page/contact/component.tsx
  frontend/containers/project-page/developers/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/funding/types.ts
  frontend/containers/project-page/header/component.stories.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/header/index.ts
  frontend/containers/project-page/header/types.ts
  frontend/containers/project-page/impact/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
  frontend/types/project.ts
Labels: front-end, ready for review

#290 Tweak Dashboard AccountInformation
  frontend/components/button/component.tsx
  frontend/components/button/types.ts
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/hooks/use-user-account.ts
  frontend/hooks/useAccountOwner.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project-developers/new.tsx
  frontend/services/account/index.ts
  frontend/types/user.ts
Labels: front-end, ready for review

#297 Feature/sideloaded owner investor creation date
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#307 Remove a hard-coded account name in the front-end code
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#310 Fix(front):[LET-546]
  frontend/containers/users/invite-users-modal/component.tsx
Labels: bug, front-end, ready for review

#304 Let 632 fe update account information page
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/protected-page/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/services/account/index.ts
  frontend/types/investor.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#303 Front/improvement/dashboard projects
  frontend/components/table/component.tsx
  frontend/components/table/types.d.ts
  frontend/pages/dashboard/projects.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project/[id]/edit.tsx
Labels: front-end, ready for review

#301 feat(front): dashboard users table [LET-631]
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/confirmation-prompt/component.stories.tsx
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/components/search/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/index.ts
  frontend/containers/dashboard/users/table/cells/actions/types.ts
  frontend/containers/dashboard/users/table/cells/invitation/component.tsx
  frontend/containers/dashboard/users/table/cells/invitation/index.ts
  frontend/containers/dashboard/users/table/cells/invitation/types.ts
  frontend/containers/dashboard/users/table/cells/user/component.tsx
  frontend/containers/dashboard/users/table/cells/user/index.ts
  frontend/containers/dashboard/users/table/cells/user/types.ts
  frontend/containers/dashboard/users/table/component.tsx
  frontend/containers/dashboard/users/table/index.ts
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/public/images/default-user-image.png
  frontend/services/account/index.ts
  frontend/services/users/userService.ts
  frontend/types/user.ts
Labels: front-end, ready for review

#305 Feature/backoffice shapefile
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/javascript/controllers/hello_controller.js
  backend/app/javascript/controllers/index.js
  backend/app/javascript/controllers/shapefile_controller.js
  backend/app/javascript/utils/shapefile.js
  backend/app/views/backoffice/projects/_form.html.erb
  backend/config/locales/zu.yml
  backend/package.json
  backend/spec/fixtures/files/shapefile.zip
  backend/spec/system/backoffice/projects_spec.rb
  backend/yarn.lock
Labels: back-end

#314 Refactor project form paged Edit and Create to use the same form comp…
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/helpers.ts
  frontend/containers/project-form/index.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/containers/project-form/pages/project-description.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/containers/project-form/types.ts
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
Labels: front-end

#308 Add uptime checks
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
  infrastructure/base/modules/uptime-check/main.tf
  infrastructure/base/modules/uptime-check/variables.tf
  infrastructure/base/variables.tf
  infrastructure/base/vars/terraform.tfvars
Labels: infrastructure

#319 Update domains to reflect the new DNS change
  frontend/.env.sample
  frontend/mockups/api/v1/account/investor.json
  frontend/mockups/api/v1/account/project_developer.json
  frontend/mockups/project.json
  frontend/next.config.js
Labels: front-end

#321 Fix/backoffice transifex
  backend/.gitignore
  backend/README.md
  backend/config/locales/en.yml
  backend/entrypoint.sh
  backend/lib/tasks/transifex.rake
Labels: bug, back-end

#311 Add forms/switch component
  frontend/components/forms/switch/component.stories.tsx
  frontend/components/forms/switch/component.tsx
  frontend/components/forms/switch/index.ts
  frontend/components/forms/switch/types.ts
Labels: front-end, ready for review

#316 Adding simple Expando component
  frontend/components/expando/component.stories.tsx
  frontend/components/expando/component.tsx
  frontend/components/expando/index.ts
  frontend/components/expando/types.ts
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#320 feat: Allow to change language at Backoffice
  backend/app/controllers/backoffice/admins/sessions_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/localization.rb
  backend/app/views/layouts/_language_selector.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/localization_spec.rb
Labels: back-end

#318 Private endpoint to return project developer's projects
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#324 test: only approved entities can be favourited
  backend/spec/requests/api/v1/favourite_investors_spec.rb
  backend/spec/requests/api/v1/favourite_project_developers_spec.rb
  backend/spec/requests/api/v1/favourite_projects_spec.rb
Labels: back-end

#317 Add map layers toggle component to Discover Projects' map
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/index.ts
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
  frontend/store/index.ts
  frontend/store/projects/index.ts
Labels: front-end, ready for review

#312 feat(front): homepage review [LET-650]
  frontend/containers/home/carousel/component.tsx
  frontend/containers/home/carousel/index.ts
  frontend/containers/home/hero/component.tsx
  frontend/containers/home/hero/index.ts
  frontend/containers/home/priorities/component.tsx
  frontend/containers/home/priorities/index.ts
  frontend/containers/home/start-banner/component.tsx
  frontend/containers/home/start-banner/index.ts
  frontend/containers/home/use-platform/component.tsx
  frontend/containers/home/use-platform/index.ts
  frontend/containers/home/working/component.tsx
  frontend/containers/home/working/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/index.tsx
  frontend/public/images/footer-banner.jpg
  frontend/public/images/home-investor-illustration-mobile.svg
  frontend/public/images/home-project-developer-illustration-mobile.svg
  frontend/svgs/home/connect.svg
  frontend/svgs/home/create-account.svg
  frontend/svgs/home/report-back.svg
  frontend/svgs/social/facebook.svg
  frontend/svgs/social/twitter.svg
Labels: front-end, wip

#327 fix(front): hot fixes [LET-650]
  frontend/containers/home/carousel/component.tsx
  frontend/containers/home/priorities/component.tsx
  frontend/containers/home/working/component.tsx
Labels: bug, front-end

#325 Front/dashboard projects/connect api
  frontend/components/table/component.tsx
  frontend/components/table/types.d.ts
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/pages/dashboard/index.tsx
  frontend/pages/dashboard/projects.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
Labels: front-end, ready for review

#326 feat: list of Admins at Backoffice
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/models/admin.rb
  backend/app/services/backoffice/csv/admin_exporter.rb
  backend/app/views/backoffice/admins/_filters.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/migrate/20220628110318_add_trackable_to_admins.rb
  backend/db/schema.rb
  backend/spec/services/backoffice/csv/admin_exporter_spec.rb
  backend/spec/system/backoffice/admins_spec.rb
Labels: back-end

#333 Fix(front): users dashboard design review [LET-631]
  frontend/components/table/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
  frontend/lang/transifex/zu.json
Labels: bug, front-end

#336 feat: Create Admin via backoffice
  backend/Gemfile.lock
  backend/app/controllers/backoffice/admins/passwords_controller.rb
  backend/app/controllers/backoffice/admins_controller.rb
  backend/app/mailers/admin_mailer.rb
  backend/app/services/generate_password.rb
  backend/app/views/admin_mailer/first_time_login_instructions.html.erb
  backend/app/views/admins/passwords/edit.html.erb
  backend/app/views/admins/passwords/new.html.erb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/admins/_form.html.erb
  backend/app/views/backoffice/admins/index.html.erb
  backend/app/views/backoffice/admins/new.html.erb
  backend/app/views/backoffice/base/_new_record.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/initializers/devise.rb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/mailers/admin_mailer_spec.rb
  backend/spec/requests/api/v1/reset_password_spec.rb
  backend/spec/services/generate_password_spec.rb
  backend/spec/system/backoffice/admins_spec.rb
Labels: back-end
