Repository Vizzuality/heco-invest, pull requests merged in 2022-05, with the labels that each got.

#136 Fix exception when saving project without ticket size
  .github/workflows/backend-tests.yml
  backend/db/migrate/20220502081414_remove_not_null_on_ticket_size.rb
  backend/db/migrate/20220502081603_remove_not_null_on_instrument_types.rb
  backend/db/schema.rb
  backend/spec/models/project_spec.rb
Labels: back-end

#130 feat: adding filters to index API endpoints
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
  frontend/types/locations.ts
Labels: back-end

#128 LET-257 Integrate cloudtasker & create "something" to test Cloud Tasks
  backend/.env.sample
  backend/ENV_VARS.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/Procfile.dev
  backend/README.md
  backend/app/controllers/api/v1/test_jobs_controller.rb
  backend/app/jobs/test_job.rb
  backend/app/mailers/test_job_mailer.rb
  backend/config/application.rb
  backend/config/initializers/cloudtasker.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/test_jobs_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#138 PDs can create projects from My Area
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.stories.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/index.ts
  frontend/layouts/dashboard/types.ts
  frontend/pages/dashboard/index.tsx
  frontend/pages/projects/new.tsx
  frontend/tailwind.config.js
Labels: front-end, ready for review

#137 Prevent the user from leaving forms by clicking the logo
  frontend/containers/multi-page-layout/header/component.tsx
Labels: front-end, ready for review

#135 Use the `GeometryInput` component on the project creation form
  frontend/.storybook/main.js
  frontend/components/map/component.stories.tsx
  frontend/components/map/component.tsx
  frontend/components/map/constants.ts
  frontend/components/map/controls/component.stories.tsx
  frontend/components/map/controls/component.tsx
  frontend/components/map/controls/fit-bounds/component.tsx
  frontend/components/map/controls/fit-bounds/types.ts
  frontend/components/map/controls/fullscreen/component.stories.tsx
  frontend/components/map/controls/fullscreen/component.tsx
  frontend/components/map/controls/fullscreen/index.ts
  frontend/components/map/controls/fullscreen/types.ts
  frontend/components/map/controls/types.ts
  frontend/components/map/controls/zoom/component.tsx
  frontend/components/map/controls/zoom/types.ts
  frontend/components/map/layers.ts
  frontend/components/map/types.ts
  frontend/containers/forms/geometry/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/lang/transifex/zu.json
  frontend/next.config.js
  frontend/package.json
  frontend/pages/projects/new.tsx
  frontend/pages/projects/pending.tsx
  frontend/schemas/project.ts
  frontend/styles/globals.css
  frontend/svgs/map/fit-bounds.svg
  frontend/svgs/map/zoom-in.svg
  frontend/svgs/map/zoom-out.svg
  frontend/types/project.ts
  frontend/validations/project.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#140 feat: Full text searching
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/concerns/searchable.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/api/filterer.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/support/shared_examples/models/searchable.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#144 feat: locations selectors
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/pages/projects/new.tsx
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/locations.ts
Labels: front-end

#146 Let 344 fe upload the profile picture using direct upload and convert back the multipart form into json data
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/components/head/component.tsx
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/services/direct-upload/helper.ts
  frontend/services/projects/projectService.ts
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Labels: front-end

#150 refactoring: Removing multipart support from API endpoints
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#154 Fix BE build
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
Labels: back-end

#149 Add breadcrumbs component to Project/Project Developer/Investor pages
  frontend/.storybook/preview.js
  frontend/containers/breadcrumbs/component.stories.tsx
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/breadcrumbs/index.ts
  frontend/containers/breadcrumbs/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Labels: front-end, ready for review

#148 feat: Adding sorting to index API endpoints (Project, PD, Investor, OpenCalls)
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/sorter.rb
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/sorter_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#155 feature: project creation form/add field errors from the API
  frontend/helpers/pages.ts
  frontend/pages/projects/new.tsx
Labels: front-end, ready for review

#152 Let 345 fe image uploader
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/forms/uploader/index.ts
  frontend/containers/forms/uploader/types.ts
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/package.json
  frontend/pages/project-developers/new.tsx
  frontend/pages/projects/new.tsx
  frontend/public/images/upload-gallery.svg
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/services/direct-upload/directUpload.ts
  frontend/svgs/ui/upload.svg
  frontend/types/direct-upload.ts
  frontend/types/project.ts
  frontend/validations/project.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#157 feat: Full text searching takes into account expected_impact column
  backend/app/services/api/filterer.rb
Labels: back-end

#147 Let 353 update the header and contact section of the pd public page
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/project-header/component.stories.tsx
  frontend/containers/project-header/component.tsx
  frontend/containers/project-header/index.ts
  frontend/containers/project-header/types.ts
  frontend/containers/social-contact/contact-information-modal/component.stories.tsx
  frontend/containers/social-contact/contact-information-modal/component.tsx
  frontend/containers/social-contact/contact-information-modal/index.ts
  frontend/containers/social-contact/contact-information-modal/types.ts
  frontend/containers/social-contact/website-social-contact/index.ts
  frontend/containers/social-contact/website-social/component.stories.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/social-contact/website-social/index.ts
  frontend/containers/social-contact/website-social/types.ts
  frontend/lang/transifex/zu.json
  frontend/mockups/project.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/svgs/contact/email.svg
  frontend/svgs/contact/phone.svg
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#163 fix: add max size validation to image uploader
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/helpers/pages.ts
  frontend/pages/project-developers/new.tsx
Labels: front-end, ready for review

#158 Fixing i18n not being fully extracted
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#162 Add DiscoverSearch component
  frontend/containers/discover-search/component.stories.tsx
  frontend/containers/discover-search/component.tsx
  frontend/containers/discover-search/index.ts
  frontend/containers/discover-search/types.ts
Labels: front-end, ready for review

#141 LET-253 Add role binding for service account for requests to signBlob
  infrastructure/base/modules/cloudrun/main.tf
Labels: infrastructure

#164 Let 354 favorite project developer
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/pages/project-developer/[id]/index.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#160 Add BadgeNavigation component
  frontend/components/badge-navigation/component.stories.tsx
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/index.ts
  frontend/components/badge-navigation/types.ts
Labels: front-end, ready for review

#161 Add pagination component + usePagination hook
  frontend/components/button/constants.ts
  frontend/components/button/types.ts
  frontend/components/pagination/component.stories.tsx
  frontend/components/pagination/component.tsx
  frontend/components/pagination/index.ts
  frontend/components/pagination/types.ts
  frontend/hooks/usePagination.ts
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#165 Tweak project card component for the search results
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/containers/project-header/component.tsx
  frontend/lang/transifex/zu.json
  frontend/mockups/project.json
  frontend/pages/project-developer/[id]/index.tsx
  frontend/types/project.ts
Labels: front-end, ready for review

#170 feat: Store progress of background jobs at Events table
  backend/app/controllers/api/v1/background_job_events_controller.rb
  backend/app/jobs/application_job.rb
  backend/app/models/background_job_event.rb
  backend/app/serializers/api/v1/background_job_event_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220512174229_create_background_job_events.rb
  backend/db/schema.rb
  backend/spec/factories/background_job_events.rb
  backend/spec/fixtures/snapshots/api/v1/background-job-events.json
  backend/spec/jobs/application_job_spec.rb
  backend/spec/models/background_job_event_spec.rb
  backend/spec/requests/api/v1/background_job_events_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#166 feat: Compute centroid from Project geometry (GeoJson)
  .github/workflows/backend-linters.yml
  .github/workflows/backend-security.yml
  .github/workflows/backend-tests.yml
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/geo_jsons/to_centroid.rb
  backend/app/validators/project_geometry_validator.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/services/geo_jsons/to_centroid_spec.rb
  backend/spec/spec_helper.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#172 feat: Projects Map API endpoint
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#143 LET-327 Asynchronous translation of the project
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/jobs/translate_job.rb
  backend/app/models/account.rb
  backend/app/models/concerns/translatable.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/translations/translate.rb
  backend/spec/models/account_spec.rb
  backend/spec/models/investor_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/services/translations/translate_spec.rb
  backend/spec/support/shared_examples/models/translatable.rb
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/translation/main.tf
Labels: back-end, infrastructure

#159 Search page layout & API connection
  frontend/containers/discover-search/component.tsx
  frontend/containers/discover-search/types.ts
  frontend/enums/index.ts
  frontend/hooks/use-scroll-on-query.js
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/index.ts
  frontend/layouts/discover-page/header/types.ts
  frontend/layouts/discover-page/index.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/layouts/discover-page/navigation/index.ts
  frontend/layouts/discover-page/navigation/types.ts
  frontend/layouts/discover-page/types.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#173 Add UserMenu and NavigationMenuButton to the Discover/Search layout
  frontend/components/badge-navigation/component.tsx
  frontend/containers/discover-search/types.ts
  frontend/containers/layouts/discover-search/component.stories.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/layouts/discover-search/index.ts
  frontend/containers/layouts/discover-search/types.ts
  frontend/containers/layouts/language-selector/component.tsx
  frontend/containers/layouts/language-selector/index.ts
  frontend/containers/layouts/language-selector/types.ts
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/logo/index.ts
  frontend/containers/layouts/logo/types.ts
  frontend/containers/layouts/navigation-menu-button/component.tsx
  frontend/containers/layouts/navigation-menu-button/index.ts
  frontend/containers/layouts/navigation-menu-button/types.ts
  frontend/containers/layouts/navigation/component.tsx
  frontend/containers/layouts/navigation/index.ts
  frontend/containers/layouts/navigation/types.ts
  frontend/containers/layouts/user-menu/component.tsx
  frontend/containers/layouts/user-menu/index.ts
  frontend/containers/layouts/user-menu/types.ts
  frontend/enums/index.ts
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/header/types.ts
  frontend/layouts/static-page/header/component.tsx
Labels: front-end, ready for review

#168 fix: Removing /backend suffix from BACKEND_URL
  backend/.env.sample
  backend/.gitignore
  backend/config/application.rb
Labels: bug, back-end

#171 Let 417 fe impact visualisation component
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/index.ts
  frontend/components/impact-chart/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/package.json
  frontend/pages/project/[id]/index.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: front-end

#182 Let 287 fe prevent non signed in users and investors to access the project creation form
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/hooks/me/index.ts
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/types.ts
  frontend/pages/investors/new.tsx
  frontend/pages/projects/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/services/users/userService.ts
Labels: front-end, ready for review

#193 Feature/let 388
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/models/investor.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/db/migrate/20220519160921_update_investor_fields.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/investor.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/models/investor_spec.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/locale_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#197 LET-381 updates to project serializer
  backend/app/models/project.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
Labels: back-end

#177 Project details card (search page)
  frontend/.storybook/main.js
  frontend/components/impact-chart/component.stories.tsx
  frontend/components/impact-chart/component.tsx
  frontend/components/impact-chart/types.ts
  frontend/components/modal/component.tsx
  frontend/components/modal/constants.ts
  frontend/components/modal/types.d.ts
  frontend/components/tag/component.tsx
  frontend/components/tag/types.d.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/types.ts
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/containers/project-details/favorite-contact/index.ts
  frontend/containers/project-details/favorite-contact/types.ts
  frontend/containers/project-details/index.ts
  frontend/containers/project-details/types.ts
  frontend/containers/sdgs/constants.ts
  frontend/hooks/use-breakpoint.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/mockups/api/v1/enums.json
  frontend/package.json
  frontend/pages/discover/projects.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: front-end, ready for review

#202 Address accessibility issue on the ProjectDetails card (Project search page)
  frontend/pages/discover/projects.tsx
Labels: enhancement, front-end, ready for review

#192 Project Developers card + Project Developers view w/ search/pagination
  frontend/containers/profile-card/component.stories.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/profile-card/index.ts
  frontend/containers/profile-card/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/services/types.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#196 Allow sorting of results (search page)
  frontend/components/menu/component.tsx
  frontend/components/menu/types.ts
  frontend/components/sorting-buttons/component.stories.tsx
  frontend/components/sorting-buttons/component.tsx
  frontend/components/sorting-buttons/index.ts
  frontend/components/sorting-buttons/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
Labels: front-end, ready for review

#175 feat: Services for importing data from geojsons
  .github/workflows/backend-tests.yml
  backend/.gitignore
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/models/location.rb
  backend/app/models/location_geometry.rb
  backend/app/models/location_member.rb
  backend/app/models/location_type.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/services/importers/geo_jsons/base.rb
  backend/app/services/importers/geo_jsons/basins.rb
  backend/app/services/importers/geo_jsons/countries.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/services/importers/geo_jsons/municipalities.rb
  backend/app/services/importers/locations.rb
  backend/config/database.yml
  backend/config/locales/zu.yml
  backend/db/migrate/20220516085522_add_impact_demands_to_locations.rb
  backend/db/migrate/20220519095658_create_location_geometries.rb
  backend/db/migrate/20220519124635_drop_location_members.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/files/.keep
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/docker-compose-test.yml
  backend/docker-compose.yml
  backend/lib/tasks/import_geojsons.rake
  backend/spec/factories/location.rb
  backend/spec/factories/location_geometries.rb
  backend/spec/factories/location_member.rb
  backend/spec/fixtures/files/dummy_basins.geojson
  backend/spec/fixtures/files/dummy_colombia.geojson
  backend/spec/fixtures/files/dummy_mosaics.geojson
  backend/spec/fixtures/files/dummy_municipalities.geojson
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/models/location_geometry_spec.rb
  backend/spec/models/location_member_spec.rb
  backend/spec/services/importers/geo_jsons/basins_spec.rb
  backend/spec/services/importers/geo_jsons/countries_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/services/importers/geo_jsons/municipalities_spec.rb
  backend/spec/services/importers/locations_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#203 fix: Full text searching takes into account attributes at different tables (Account)
  backend/app/models/account.rb
  backend/app/services/api/filterer.rb
  backend/spec/models/account_spec.rb
  backend/spec/services/api/filterer_spec.rb
Labels: bug, back-end

#200 Let 419 fe investor creation form
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/containers/investor-form-pages/index.ts
  frontend/containers/investor-form-pages/pages/impacts.tsx
  frontend/containers/investor-form-pages/pages/investment.tsx
  frontend/containers/investor-form-pages/pages/other-information.tsx
  frontend/containers/investor-form-pages/pages/priority.tsx
  frontend/containers/investor-form-pages/pages/profile.tsx
  frontend/containers/investor-form-pages/pages/select-language.tsx
  frontend/containers/investor-form-pages/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investors/new.tsx
  frontend/pages/investors/pending.tsx
  frontend/pages/project-developers/new.tsx
  frontend/schemas/investor.ts
  frontend/services/account/index.ts
  frontend/types/index.ts
  frontend/types/investor.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/investor.ts
Labels: front-end, ready for review

#206 fix: enabling full_text param for Investor API endpoint
  backend/app/controllers/api/v1/investors_controller.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: bug, back-end

#204 We need category in this endpoint for colour coding
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
Labels: back-end

#207 Display the legend on the Discover page's map
  frontend/components/map/project-legend/component.tsx
  frontend/components/map/project-legend/index.ts
  frontend/components/map/project-legend/types.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/index.ts
  frontend/containers/discover-map/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/discover/projects.tsx
  frontend/tailwind.config.js
Labels: front-end, ready for review

#201 Fe allow users to search investors search page
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/pages/discover/investors.tsx
  frontend/services/investors/investorsService.ts
Labels: front-end, ready for review

#195 feat: Impact calculation service
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/jobs/impact_calculation_job.rb
  backend/app/models/impact_area.rb
  backend/app/models/location_geometry.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/api/sorter.rb
  backend/app/services/geo_jsons/to_centroid.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/validators/project_geometry_validator.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220518072022_add_centroid_to_projects.rb
  backend/db/migrate/20220518133729_add_impacts_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/location.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/jobs/impact_calculation_job_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/sorter_spec.rb
  backend/spec/services/geo_jsons/to_centroid_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#212 Feature/Admin sign in
  backend/.dockerignore
  backend/Dockerfile
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/application_controller.rb
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/backoffice/dashboards_controller.rb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/dashboards/show.html.erb
  backend/app/views/layouts/application.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/app/views/layouts/devise.html.erb
  backend/config/environments/production.rb
  backend/config/initializers/simple_form.rb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/simple_form.en.yml
  backend/config/routes/backoffice.rb
  backend/entrypoint.sh
  backend/lib/templates/erb/scaffold/_form.html.erb
  backend/spec/rails_helper.rb
  backend/spec/spec_helper.rb
  backend/spec/support/cuprite_helpers.rb
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system_helper.rb
  backend/tailwind.config.js
  backend/yarn.lock
Labels: back-end

#216 feat: Adding impact attributes to Project serializer
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/swagger/v1/swagger.yaml
Labels: back-end

#215 feat: New API endpoint for Project update
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/support/shared_examples/api/with_forbidden_error.rb
  backend/spec/support/shared_examples/api/with_not_found_error.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#205 User can favorite project developer from search project details card
  frontend/containers/project-details/favorite-contact/component.tsx
Labels: front-end, ready for review

#211 Let 421 fe investor public page
  frontend/containers/investor-form-pages/pages/impacts.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/sdgs/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/services/investors/investorsService.ts
Labels: front-end, ready for review

#218 Feature/backoffice project developers
  backend/.rubocop.yml
  backend/.standard.yml
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/controllers/backoffice/dashboards_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/app/views/admins/sessions/new.html.erb
  backend/app/views/backoffice/dashboards/show.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/factories/account.rb
  backend/spec/factories/user.rb
  backend/spec/models/account_spec.rb
  backend/spec/support/page_helpers.rb
  backend/spec/system/backoffice/auth_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: ready for review, back-end

#219 feat: Return SDGs and its names via Enum endpoint
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/serializers/api/v1/user_serializer.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/session.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user.json
  backend/swagger/v1/swagger.yaml
Labels: back-end

#199 LET-258 - Jobs instances
  infrastructure/base/modules/cloudbuild/main.tf
  infrastructure/base/modules/cloudbuild/variables.tf
  infrastructure/base/modules/env/main.tf
Labels: infrastructure

#220 Backoffice: add investors index page
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/investors_spec.rb
Labels: back-end

#223 feat: Adding priority landscape to Projects
  backend/app/models/location_geometry.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/db/migrate/20220526092240_add_priority_landscape_to_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#224 feat: Right policies are applied to API endpoints
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/controllers/concerns/api/errors.rb
  backend/app/models/ability.rb
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
Labels: back-end

#221 update project models
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-details/component.stories.tsx
  frontend/types/project.ts
Labels: front-end, ready for review
