Repository Vizzuality/heco-invest, pull requests merged in 2022-09, with the labels that each got.

#528 feat: Added open_call_applications_count attribute to OpenCall serializer
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
Labels: back-end

#524 Fix an issue uploading images to projects
  frontend/containers/forms/project-gallery/component.stories.tsx
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/helpers/pages.ts
  frontend/schemas/project.ts
  frontend/types/project.ts
Labels: front-end, ready for review

#526 Update some information related to the impact of the projects
  frontend/containers/impact-text/component.tsx
  frontend/containers/impact-text/types.ts
  frontend/containers/modals/impact/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
  frontend/types/project.ts
Labels: front-end, ready for review

#529 Investor users can see the details of a project that has applied to an open call in Dashboard
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/open-call/[openCallId]/application/[applicationId].tsx
  frontend/pages/dashboard/open-call/[openCallId]/index.tsx
  frontend/pages/open-call/[id]/edit.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
Labels: front-end, ready for review

#531 refactoring: Slug can be used for project and open call filter
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/controllers/api/v1/base_controller.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
Labels: back-end

#533 Add contact information to the investor public page
  frontend/pages/investor/[id]/index.tsx
Labels: front-end, ready for review

#530 feat: Notify PD/Investors on account deletion
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/mailers/investor_mailer.rb
  backend/app/mailers/project_developer_mailer.rb
  backend/app/models/investor.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/accounts/destroy.rb
  backend/app/services/open_calls/destroy.rb
  backend/app/services/projects/destroy.rb
  backend/app/views/investor_mailer/open_call_application_destroyed.html.erb
  backend/app/views/investor_mailer/project_destroyed.html.erb
  backend/app/views/project_developer_mailer/open_call_destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/investor_mailer_spec.rb
  backend/spec/mailers/project_developer_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/services/accounts/destroy_spec.rb
  backend/spec/services/open_calls/destroy_spec.rb
  backend/spec/services/projects/destroy_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/open_calls_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#535 Fix issues with the social media links on the investor public page
  frontend/containers/developer-about/component.stories.tsx
  frontend/containers/profile-header/component.stories.tsx
  frontend/containers/social-contact/constants.ts
  frontend/containers/social-contact/website-social/component.stories.tsx
  frontend/containers/social-contact/website-social/component.tsx
  frontend/containers/social-contact/website-social/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
Labels: front-end, ready for review

#534 feat: Backoffice supports Open Call editation
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/models/open_call.rb
  backend/app/views/backoffice/open_calls/_form.html.erb
  backend/app/views/backoffice/open_calls/_section_information.html.erb
  backend/app/views/backoffice/open_calls/_section_investor.html.erb
  backend/app/views/backoffice/open_calls/_section_status.html.erb
  backend/app/views/backoffice/open_calls/edit.html.erb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/config/initializers/simple_form_tailwind.rb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/open_calls_spec.rb
Labels: back-end

#536 Allow investor users to indicate which projects they're funding in Dashboard
  frontend/containers/dashboard/open-call-details/funding-switch/component.tsx
  frontend/containers/dashboard/open-call-details/funding-switch/index.ts
  frontend/containers/dashboard/open-call-details/funding-switch/types.ts
  frontend/containers/dashboard/open-call-details/table/cells/actions/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/open-call/[openCallId]/application/[applicationId].tsx
  frontend/services/open-call/application-service.ts
Labels: front-end, ready for review

#538 Fix account information not displaying correctly in the Dashboard header
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/layouts/dashboard/component.tsx
Labels: front-end, ready for review

#537 refactoring: Renaming trusted column to verified
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/models/open_call.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_map_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/api/filterer.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/open_calls/_filters.html.erb
  backend/app/views/backoffice/open_calls/_section_status.html.erb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/app/views/backoffice/projects/_section_status.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/db/migrate/20220906084050_rename_trusted_to_verified.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/open_call.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/open_call_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
  backend/spec/swagger_helper.rb
  backend/spec/system/backoffice/open_calls_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#539 Refactor of the table component to solve column content overlapping
  frontend/components/table/component.tsx
  frontend/containers/dashboard/open-call-applications/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-details/table/component.tsx
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/dashboard/users/table/component.tsx
Labels: front-end, ready for review

#542 refactoring: Prefer usage of account name at backoffice
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#540 feat: Adding impact filter to project maps endpoint
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#544 Add financial information disclaimer on project public page
  frontend/containers/project-page/funding/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#545 Fix broken language notice when editing an open call
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/helpers.ts
  frontend/containers/open-call-form/types.ts
  frontend/pages/open-call/[id]/edit.tsx
Labels: bug, front-end, ready for review

#547 Making it explicit in the account creation/edition forms that the fie…
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#546 Add open calls to the dashboard favorites
  frontend/containers/open-call-card/component.tsx
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
  frontend/services/account/favoritesService.ts
Labels: front-end, ready for review

#548 Hide all references to the verification process
  frontend/containers/dashboard/projects/table/cells/status/component.tsx
  frontend/containers/dashboard/projects/table/cells/status/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/containers/discover-map/pin/component.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-card/component.stories.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.stories.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/pending-approval.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/projects/pending.tsx
  frontend/types/project.ts
Labels: front-end, ready for review

#549 Add entries in the FAQ about the account deletion
  frontend/containers/faq-page/answers/account/investor-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/investor-account-deletion/index.ts
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/component.tsx
  frontend/containers/faq-page/answers/account/project-developer-account-deletion/index.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#543 feat: Endpoint for current user account deletion
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#550 Fix project form map zoom buttons not working after the user uses the location search
  frontend/containers/forms/geometry/component.tsx
Labels: bug, front-end, ready for review

#553 Synchronise the map's markers with the project search results (Discover)
  frontend/containers/discover-map/component.tsx
  frontend/services/projects/projectService.ts
Labels: front-end, ready for review

#554 Link ARIES to some explanation
  frontend/containers/home/priorities/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Labels: front-end, ready for review

#555 Adjust the application layout to account for different languages
  frontend/components/layout-container/component.tsx
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/navigation/component.tsx
  frontend/tailwind.config.js
Labels: front-end, ready for review

#558 refactoring: Message of OpenCallApplication is no more translated
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/open_call_application.rb
  backend/db/migrate/20220909092937_remove_translated_message_from_open_call_applications.rb
  backend/db/schema.rb
  backend/spec/factories/open_call_applications.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/models/open_call_application_spec.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
Labels: back-end

#551 Update the styles of the tabs and sorting options on Discover
  frontend/components/badge-navigation/component.stories.tsx
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/types.ts
  frontend/components/sorting-buttons/component.stories.tsx
  frontend/components/sorting-buttons/component.tsx
  frontend/components/sorting-buttons/types.ts
  frontend/components/tag/component.tsx
  frontend/components/tag/types.d.ts
  frontend/layouts/dashboard-favorites/navigation/component.tsx
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
Labels: front-end, ready for review

#552 fix: API includes returns only projects which user can see
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/controllers/api/v1/favourite_investors_controller.rb
  backend/app/controllers/api/v1/favourite_open_calls_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/serializers/api/base_serializer.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
Labels: back-end

#556 feat: Memoize filters/sorting/pagination at backoffice
  backend/app/controllers/backoffice/base_controller.rb
  backend/app/controllers/concerns/backoffice/filter_memoization.rb
  backend/app/views/backoffice/base/_filters.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/spec/system/backoffice/filter_memoization_spec.rb
Labels: back-end

#560 feat: Backoffice allows to verify/unverify/delete Project from menu
  backend/app/controllers/backoffice/projects_controller.rb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#562 refactoring: Show draft projects at backoffice
  backend/app/controllers/backoffice/projects_controller.rb
  backend/spec/system/backoffice/projects_spec.rb
Labels: back-end

#561 Fix overflow issues with the menus inside the tables
  frontend/components/menu/component.stories.tsx
  frontend/components/menu/component.tsx
  frontend/components/menu/popup/component.tsx
  frontend/components/menu/popup/types.ts
  frontend/components/menu/types.ts
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#559 Allow users to delete an account
  frontend/containers/account-deleted/component.tsx
  frontend/containers/account-deleted/index.ts
  frontend/containers/dashboard/account-information/basic-info/component.tsx
  frontend/containers/dashboard/account-information/basic-info/index.ts
  frontend/containers/dashboard/account-information/basic-info/types.ts
  frontend/containers/dashboard/account-information/delete-account/component.tsx
  frontend/containers/dashboard/account-information/delete-account/index.ts
  frontend/containers/dashboard/account-information/delete-account/types.ts
  frontend/containers/dashboard/account-information/public-profile/component.tsx
  frontend/containers/dashboard/account-information/public-profile/index.ts
  frontend/containers/dashboard/account-information/public-profile/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/hidden-page.tsx
  frontend/public/images/account-deleted.svg
  frontend/services/account/index.ts
Labels: front-end, ready for review

#458 Fix filters being cleared when using the discover pages' pagination
  frontend/containers/layouts/discover-search/component.tsx
  frontend/helpers/pages.ts
  frontend/hooks/usePagination.ts
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
Labels: front-end, wip

#564 feat: API for current user update
  backend/app/controllers/api/v1/users_controller.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/user-update.json
  backend/spec/requests/api/v1/user_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#569 Let 1046 fe additional information about impact
  frontend/components/tooltip/arrow/component.tsx
  frontend/components/tooltip/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/helpers/project.ts
  frontend/package.json
  frontend/pages/dashboard/favorites/projects.tsx
  frontend/types/project.ts
  frontend/yarn.lock
Labels: front-end

#568 Update the priority landscapes section of the For Investors page
  frontend/containers/for-public-pages/public-page-card/component.tsx
  frontend/containers/for-public-pages/public-page-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
  frontend/public/images/for-investor/for-investor-priority-landscape-amazon-heart.png
  frontend/public/images/for-investor/for-investor-priority-landscape-amazonian-piedmont-massif.png
  frontend/public/images/for-investor/for-investor-priority-landscape-orinoquia-transition.png
  frontend/public/images/for-investor/for-investor-priority-landscape-orinoquia.png
  frontend/public/images/for-investor/for-investor-priority-landscapes.png
Labels: front-end, ready for review

#566 Update search box and filters
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/active-filters/index.ts
  frontend/containers/forms/active-filters/types.ts
  frontend/containers/forms/filters/component.stories.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
  frontend/helpers/pages.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/mockups/filters.json
  frontend/svgs/discover/filters.svg
Labels: front-end

#567 refactoring: Setting min width for status column
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/app/views/layouts/backoffice.html.erb
Labels: back-end

#571 Add function to reset sort query when changing from projects tab
  frontend/components/sorting-buttons/component.tsx
  frontend/lang/compiled/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/services/types.ts
Labels: bug, front-end

#572 Change project details card style
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/pages/discover/projects.tsx
Labels: front-end

#574 Fix tabs bug
  frontend/layouts/discover-page/component.tsx
Labels: bug, front-end

#573 Add message indicating the public and confidential form fields
  frontend/containers/investor-form/pages/impacts.tsx
  frontend/containers/investor-form/pages/investment.tsx
  frontend/containers/investor-form/pages/other-information.tsx
  frontend/containers/investor-form/pages/priority.tsx
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/project-description.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#575 Fix sorting by impact
  frontend/components/sorting-buttons/types.ts
  frontend/layouts/discover-page/helpers.ts
Labels: bug, front-end

#576 Change forms subtitle
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#582 Fix a wrong maximum image size on the project and open call forms
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-form/pages/general-information.tsx
Labels: front-end, ready for review

#581 Display the correct image for the investor in the open call cards
  frontend/containers/open-call-card/component.tsx
Labels: front-end, ready for review

#579 Add a favicon to the platform
  frontend/pages/_document.tsx
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-192x192.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon-512x512.png
  frontend/public/favicon.ico
  frontend/public/mstile-150x150.png
  frontend/public/vercel.svg
Labels: front-end, ready for review

#580 Make the account profile pictures fully visible (fit their container)
  frontend/components/forms/image-uploader/component.tsx
  frontend/containers/dashboard/users/table/cells/user/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/social-contact/contact-information-modal/contact-item/component.tsx
  frontend/layouts/dashboard/account-picture/component.tsx
  frontend/pages/dashboard/open-call/[openCallId]/application/[applicationId].tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Labels: front-end, ready for review

#584 Remove all references to and sorting option of total impact
  frontend/components/sorting-buttons/types.ts
  frontend/containers/impact-text/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/helpers.ts
Labels: front-end, ready for review

#586 Update the descriptions of the partners (About page)
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Labels: front-end, ready for review

#587 Add Google Tag Manager and Hotjar tracking to the platform
  frontend/.env.sample
  frontend/README.md
  frontend/components/analytics/component.tsx
  frontend/components/analytics/index.ts
  frontend/components/analytics/types.ts
  frontend/pages/_app.tsx
Labels: front-end, ready for review

#588 feat: Investor can mark project as funded/not-funded via API
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/investor.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220922150756_create_funded_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#583 Add map layers legends
  frontend/components/map/legend/component.stories.tsx
  frontend/components/map/legend/component.tsx
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/types.d.ts
  frontend/components/map/legend/types/basic/component.tsx
  frontend/components/map/legend/types/choropleth/component.tsx
  frontend/components/map/legend/types/choropleth/types.d.ts
  frontend/components/map/legend/types/gradient/component.tsx
  frontend/components/map/legend/types/gradient/types.d.ts
  frontend/components/map/project-legend/component.tsx
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/layer-legend/index.ts
  frontend/containers/discover-map/layer-legend/types.ts
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
Labels: front-end

#577 Fix close filters suggestions on home page
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/containers/search-auto-suggestion/types.ts
Labels: bug, front-end

#589 Add update user information form
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/types.ts
  frontend/components/forms/input/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/settings/information.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
Labels: front-end

#592 Add instructions for account profile pictures
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#590 Display a cookie banner to ask for the user's consent
  frontend/components/privacy-notice/component.tsx
  frontend/components/privacy-notice/index.ts
  frontend/components/privacy-notice/notice-content/component.tsx
  frontend/components/privacy-notice/notice-content/index.ts
  frontend/components/privacy-notice/notice-content/types.ts
  frontend/components/privacy-notice/types.ts
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/containers/layouts/beta-version-disclaimer/index.ts
  frontend/containers/layouts/beta-version-disclaimer/types.ts
  frontend/hooks/use-cookies-consent.ts
  frontend/hooks/use-synced-state.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/header/component.tsx
  frontend/pages/_app.tsx
Labels: front-end, ready for review

#596 Hide the “Create account” button on the For * pages for logged in account users
  frontend/containers/for-public-pages/carousel/component.tsx
Labels: front-end, ready for review

#598 Fix duplicated 'not calculated' and impact o texts
  frontend/containers/impact-text/component.tsx
Labels: bug, front-end

#597 Add map help modal
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/map-help/component.tsx
  frontend/containers/discover-map/map-help/index.ts
  frontend/containers/discover-map/map-help/types.ts
  frontend/containers/discover-map/pin-cluster/component.tsx
  frontend/svgs/map/cluster-exemple.svg
  frontend/tailwind.config.js
Labels: front-end

#599 Invalidate the requests made by `useMe` and `useAccount` on sign up
  frontend/lang/transifex/zu.json
  frontend/services/account/index.ts
Labels: front-end, ready for review

#600 Fix draft project could apply to open call
  frontend/containers/open-call-application-modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/services/account/index.ts
Labels: front-end, ready for review

#602 Fix Indigenous Reserves legend opacity
  frontend/hooks/useLayers.ts
Labels: bug, front-end

#594 feat: Enabling image validation
  backend/app/jobs/active_storage/analyze_job.rb
  backend/app/serializers/api/v1/blob_serializer.rb
  backend/app/services/blobs/get_link.rb
  backend/spec/fixtures/files/spoofed_picture.jpg
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/investors-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-application-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/project-developers-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-investor.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/accounts-transfer-ownership.json
  backend/spec/fixtures/snapshots/api/v1/accounts-users.json
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/invitation-accepted.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/session-with-2FA.json
  backend/spec/fixtures/snapshots/api/v1/session-without-2FA.json
  backend/spec/fixtures/snapshots/api/v1/user-create-by-invitation.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/snapshots/api/v1/user-update.json
  backend/spec/fixtures/snapshots/api/v1/user.json
  backend/spec/jobs/active_storage/analyze_job_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#604 Improve the legibility of the SDGs in the project details card
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/sdgs/constants.ts
  frontend/containers/sdgs/types.ts
  frontend/pages/investor/[id]/index.tsx
Labels: front-end, ready for review

#603 Add resource watch credit
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/hooks/useLayers.ts
Labels: front-end
