Repository Vizzuality/heco-invest, pull requests merged in 2022-10, with the labels that each got.

#609 Update map help texts
  frontend/containers/discover-map/map-help/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#611 Add message to image uploaders
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#615 Backoffice favicon
  backend/public/android-chrome-192x192.png
  backend/public/android-chrome-512x512.png
  backend/public/apple-touch-icon.png
  backend/public/favicon-16x16.png
  backend/public/favicon-32x32.png
  backend/public/favicon.ico
  backend/public/mstile-150x150.png
Labels: back-end

#612 Explain which formats can be uploaded via the `<GeometryInput />` component
  frontend/containers/forms/geometry/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#613 Update the beta disclaimer to recommend the use of a desktop computer
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#607 Replace 4 SDG images due to incorrect colour
  frontend/public/images/sdgs/14-life-below-water.png
  frontend/public/images/sdgs/15-life-on-land.png
  frontend/public/images/sdgs/16-peace-justice.png
  frontend/public/images/sdgs/17-partnership.png
Labels: bug, front-end, ready for review

#618 Allow investors to mark favourited projects as projects they fund
  frontend/components/forms/switch/types.ts
  frontend/containers/dashboard/open-call-details/funding-switch/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/types.ts
  frontend/containers/settings-security/2fa/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/pages/dashboard/favorites/projects.tsx
  frontend/services/account/index.ts
  frontend/types/project.ts
Labels: front-end, ready for review

#626 Fix priority landscapes filter options
  frontend/containers/forms/filters/component.tsx
Labels: bug, front-end

#628 Let 1206 fe remove notice from basic info in account information dashboard
  frontend/containers/dashboard/account-information/basic-info/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/settings/information.tsx
Labels: front-end

#630 Increase title's font size of the cards in the For * pages on mobile
  frontend/containers/for-public-pages/public-page-card/component.tsx
Labels: front-end

#623 Fix impact chart tooltips text
  frontend/containers/impact-chart/component.tsx
Labels: bug, front-end

#624 Add validations folder to i18n:extract script
  frontend/lang/transifex/zu.json
  frontend/package.json
Labels: bug, front-end

#570 refactoring: enable email confirmation at API
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/views/users/mailer/confirmation_instructions.html.erb
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/requests/api/v1/user_spec.rb
Labels: back-end, on hold

#627 Fix not translating error
  frontend/pages/dashboard/index.tsx
Labels: bug, front-end

#631 Create 404 and 500 pages
  frontend/lang/transifex/zu.json
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
  frontend/public/images/internal-error.png
  frontend/public/images/not-found.png
Labels: front-end

#633 Let 1214 fe add scroll to top button to most pages
  frontend/components/scroll-to-top-button/component.tsx
  frontend/components/scroll-to-top-button/index.ts
  frontend/components/scroll-to-top-button/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/static-page/component.tsx
Labels: front-end

#634 Attempted fix for "Discarded TranslateJob due to a ActiveJob::DeserializationError"
  backend/app/jobs/translate_job.rb
  backend/app/models/concerns/translatable.rb
  backend/spec/support/shared_examples/models/translatable.rb
Labels: back-end

#635 Update the Transifex CLI to fix some deployment failures
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Labels: front-end, ready for review, back-end

#636 Rename the Privacy Policy page and add a link to it in the Sign up page
  frontend/components/privacy-notice/notice-content/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/sign-up/index.tsx
  frontend/pages/terms-conditions.tsx
Labels: front-end, ready for review

#637 Remove link to see the public profile in the Account information section of the Dashboard
  frontend/containers/dashboard/account-information/public-profile/component.tsx
Labels: front-end, ready for review

#639 Update the impact sentence when the impact of a project is 0
  frontend/containers/impact-text/component.tsx
  frontend/containers/impact-text/types.ts
  frontend/containers/project-details/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#641 Allow the users to input incomplete URLs in the social media and website inputs
  frontend/helpers/pages.ts
  frontend/schemas/investor.ts
  frontend/schemas/project-developer.ts
Labels: front-end, ready for review

#620 Let 1138 fe update the sign up flow to account for email verification
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/pages/sign-up/index.tsx
  frontend/pages/sign-up/verification.tsx
  frontend/public/images/sign-up-code.png
  frontend/services/email-confirmation/index.ts
Labels: front-end, ready for review

#645 change useBreakPoint function
  frontend/containers/layouts/beta-version-disclaimer/component.tsx
  frontend/hooks/use-breakpoint.ts
Labels: front-end

#646 Add missing Hotjar key in a few Docker files
  frontend/Dockerfile
  frontend/docker-compose-test.yml
Labels: front-end, ready for review

#638 Allow the users to select multiple values for each filter on Discover
  frontend/containers/forms/active-filters/component.tsx
  frontend/containers/forms/filters/component.tsx
  frontend/containers/forms/filters/types.ts
  frontend/helpers/pages.ts
Labels: front-end, ready for review

#642 Let 1157 fe tweak the project and open call public page layout
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/project-page/funding/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
Labels: front-end

#647 Fix faqs section open-close icons size
  frontend/containers/faq-page/faq-expando/component.tsx
Labels: bug, front-end

#616 Update the login flow to account for 2 fa
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/pages/settings/security.tsx
  frontend/pages/sign-in/code.tsx
  frontend/pages/sign-in/index.tsx
  frontend/services/authentication/authService.ts
  frontend/types/sign-in.ts
  frontend/validations/sign-in.ts
Labels: front-end, ready for review

#650 Temporarily revert "Update the Transifex CLI to fix some deployment failures" to fix deployment issues
  .github/workflows/backend-push-translations.yml
  .github/workflows/frontend-deployment.yml
  backend/Dockerfile
  frontend/Dockerfile
Labels: infrastructure

#649 Added status column and renamed old status column to Verification
  backend/app/helpers/application_helper.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/services/backoffice/csv/project_exporter.rb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/config/locales/zu.yml
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/services/backoffice/csv/project_exporter_spec.rb
Labels: back-end

#640 Modified dynamic search scope to match on partial terms
  backend/app/models/admin.rb
  backend/app/models/concerns/searchable.rb
  backend/app/models/user.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/system/backoffice/admins_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/open_calls_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
  backend/spec/system/backoffice/users_spec.rb
Labels: back-end

#655 Reduced the timeout when resending confirmation email
  backend/app/models/user.rb
  backend/spec/models/user_spec.rb
Labels: back-end

#663 Display the ticket sizes in currency on the investor public page and Discover
  frontend/containers/forms/active-filters/component.tsx
  frontend/pages/investor/[id]/index.tsx
Labels: front-end, ready for review

#665 Document new environment variable used for the user testing form URL
  frontend/.env.sample
  frontend/Dockerfile
  frontend/README.md
  frontend/docker-compose-test.yml
Labels: front-end, ready for review

#664 Fix date translation
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/pages/_app.tsx
Labels: bug, front-end

#666 Use a new tileset for sub-basin boundaries layer
  frontend/hooks/useLayers.ts
Labels: front-end, ready for review

#667 Adjust the impact calculation's explanation texts
  frontend/containers/faq-page/answers/projects/project-impact/component.tsx
  frontend/containers/modals/impact/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#651 Update open call page style for mobiles
  frontend/containers/open-call-page/funding-impact/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/profile-header/component.tsx
Labels: front-end

#674 LET-1268 Added updated_at to project and open call serializers
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#675 LET-1209 created / updated timestamps in project and open call form
  backend/app/views/backoffice/open_calls/edit.html.erb
  backend/app/views/backoffice/projects/edit.html.erb
  backend/config/locales/zu.yml
Labels: back-end

#673 LET-1234 Back Office - Improvements to the account approval/rejection process for accounts with invalid pictures uploaded
  backend/app/controllers/backoffice/accounts_controller.rb
  backend/app/models/account.rb
  backend/app/views/backoffice/accounts/_status_form.html.erb
  backend/app/views/backoffice/base/_image_with_thumbnail.html.erb
  backend/app/views/backoffice/investors/_form.html.erb
  backend/app/views/backoffice/open_calls/_form.html.erb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/users/_form.html.erb
  backend/spec/models/account_spec.rb
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#654 Update project developer page to mobile version
  frontend/components/carousel/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
Labels: front-end, ready for review

#680 Update README.md
  backend/README.md
Labels: back-end

#679 Display the creation and edition date of projects and open calls
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/lang/transifex/zu.json
  frontend/types/open-calls.ts
  frontend/types/project.ts
Labels: front-end, ready for review

#657 Change style of discover pages on mobile version
  frontend/components/badge-navigation/component.tsx
  frontend/containers/layouts/discover-search/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/profile-card/component.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-details/component.tsx
  frontend/containers/project-details/favorite-contact/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/discover-page/navigation/component.tsx
  frontend/package.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/public/images/discover-hero.png
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: front-end
