Repository Vizzuality/heco-invest, pull requests merged in 2022-04, with the labels that each got.

#70 Correct Colombia region intersections from shapefiles
  backend/app/services/importers/locations.rb
  backend/db/migrate/20220331104516_add_code_to_locations.rb
  backend/db/schema.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
Labels: back-end

#76 Let 211 connect the sign up form with the api
  frontend/.env.sample
  frontend/.gitignore
  frontend/README.md
  frontend/components/head/component.tsx
  frontend/hoc/auth.ts
  frontend/hooks/me/index.ts
  frontend/hooks/me/types.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/layouts/protected-page/component.tsx
  frontend/layouts/protected-page/index.ts
  frontend/layouts/protected-page/types.ts
  frontend/mockups/sign-in.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/api.ts
  frontend/services/authentication/authService.ts
  frontend/services/authentication/index.ts
  frontend/services/users/index.ts
  frontend/services/users/userService.ts
  frontend/types/sign-in.ts
  frontend/types/signin.ts
  frontend/types/signup.ts
  frontend/validations/sign-in.ts
  frontend/validations/signup.ts
  frontend/yarn.lock
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/variables.tf
Labels: front-end

#66 Let 174 project developer form
  frontend/.gitignore
  frontend/components/forms/error-message/component.stories.tsx
  frontend/components/forms/error-message/component.tsx
  frontend/components/forms/error-message/index.tsx
  frontend/components/forms/error-message/types.ts
  frontend/components/forms/field-error/component.stories.tsx
  frontend/components/forms/field-error/component.tsx
  frontend/components/forms/field-error/index.ts
  frontend/components/forms/field-error/types.ts
  frontend/components/forms/field-info/component.stories.tsx
  frontend/components/forms/field-info/component.tsx
  frontend/components/forms/field-info/index.tsx
  frontend/components/forms/field-info/types.ts
  frontend/components/forms/label/component.tsx
  frontend/components/forms/label/constants.ts
  frontend/components/forms/label/types.d.ts
  frontend/components/tooltip/arrow/component.tsx
  frontend/components/tooltip/arrow/types.d.ts
  frontend/components/tooltip/component.tsx
  frontend/components/tooltip/types.d.ts
  frontend/containers/developer-about/component.tsx
  frontend/containers/developer-about/types.ts
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/social-contact/constants.ts
  frontend/containers/social-contact/inputs-social-contact/component.stories.tsx
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/containers/social-contact/inputs-social-contact/index.tsx
  frontend/containers/social-contact/inputs-social-contact/types.ts
  frontend/containers/social-contact/website-social-contact/component.stories.tsx
  frontend/containers/social-contact/website-social-contact/component.tsx
  frontend/containers/social-contact/website-social-contact/index.ts
  frontend/containers/social-contact/website-social-contact/types.ts
  frontend/containers/website-social-contact/index.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
  frontend/pages/sign-up/index.tsx
  frontend/public/images/avatar.svg
  frontend/public/images/pending-approval.svg
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/tailwind.config.js
  frontend/types/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
  frontend/yarn.lock
Labels: front-end

#82 Let 212 connect the project developer form with the api
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/social-contact/inputs-social-contact/component.tsx
  frontend/containers/social-contact/inputs-social-contact/types.ts
  frontend/lang/compiled/en.json
  frontend/lang/compiled/es.json
  frontend/lang/compiled/pt.json
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/mockups/categories.json
  frontend/mockups/impacts.json
  frontend/mockups/mosaics.json
  frontend/mockups/projectDeveloperTypes.json
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-up/index.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/types/enums.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/projectDeveloper.ts
Labels: front-end

#84 feat: create sign-up page
  frontend/enums/index.ts
  frontend/hooks/me/index.ts
  frontend/mockups/sign-in.tsx
  frontend/pages/sign-in/forgot-password.tsx
  frontend/pages/sign-in/index.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/pages/sign-up/index.tsx
  frontend/services/authentication/authService.ts
  frontend/services/users/userService.ts
  frontend/tailwind.config.js
  frontend/types/sign-in.ts
  frontend/types/signin.ts
  frontend/types/user.ts
  frontend/validations/sign-in.ts
  frontend/validations/signup.ts
Labels: front-end

#80 Tag checkbox component
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/index.ts
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.stories.tsx
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/index.ts
  frontend/components/forms/tag/types.ts
  frontend/containers/category-tag/category-tag-dot/component.tsx
  frontend/containers/category-tag/category-tag-dot/index.ts
  frontend/containers/category-tag/category-tag-dot/types.ts
  frontend/containers/category-tag/component.stories.tsx
  frontend/containers/category-tag/component.tsx
  frontend/containers/category-tag/index.ts
  frontend/containers/category-tag/types.ts
  frontend/containers/multi-page-layout/page/component.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/types/category.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#93 Let 285 add contact info to pd form
  frontend/lang/transifex/zu.json
  frontend/pages/project-developers/new.tsx
  frontend/schemas/projectDeveloper.ts
  frontend/services/account/index.ts
  frontend/services/api.ts
  frontend/services/users/userService.ts
  frontend/types/api.ts
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#98 feat: create confirm modal to leave form
  frontend/containers/leave-form-modal/component.tsx
  frontend/containers/leave-form-modal/components.stories.tsx
  frontend/containers/leave-form-modal/index.ts
  frontend/containers/leave-form-modal/types.ts
  frontend/pages/project-developers/new.tsx
Labels: front-end

#99 Fixing Tag/TagGroup validation errors & keyboard focus ring
  frontend/components/forms/tag-group/component.stories.tsx
  frontend/components/forms/tag-group/component.tsx
  frontend/components/forms/tag-group/types.ts
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/pages/project-developers/new.tsx
Labels: front-end, ready for review

#100 Add missing i18n that hasn't been extracted
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#101 feat: Allow to upload images during Project creation
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/base_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/project.rb
  backend/app/models/project_image.rb
  backend/app/serializers/api/v1/project_image_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220420071536_create_project_images.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/factories/project_images.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_image_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#102 feat: allow to switch between Jobs and API/Backoffice routes
  .github/workflows/backend-tests.yml
  backend/.env.sample
  backend/ENV_VARS.md
  backend/config/routes.rb
  backend/config/routes/api.rb
  backend/config/routes/backoffice.rb
  backend/config/routes/jobs.rb
  backend/spec/requests/jobs/test_spec.rb
  infrastructure/base/modules/env/main.tf
Labels: back-end

#103 refactoring: PD uses Mosaic Enum instead of Region Locations
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/mosaic.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_location.rb
  backend/app/serializers/api/v1/enums/mosaic_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220421093358_add_mosaic_to_project_developer.rb
  backend/db/schema.rb
  backend/spec/factories/project_developer.rb
  backend/spec/factories/project_developer_location.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/project_developer_location_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#106 Change PD texts
  frontend/hooks/useInterests.ts
  frontend/pages/project-developers/new.tsx
Labels: front-end

#111 Add fixed viewport layout for creation forms
  frontend/layouts/form-page/component.stories.tsx
  frontend/layouts/form-page/component.tsx
  frontend/layouts/form-page/index.tsx
  frontend/layouts/form-page/types.ts
  frontend/layouts/naked-page/component.stories.tsx
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
  frontend/pages/investors/new.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/project-developers/pending.tsx
Labels: front-end, ready for review

#110 LET-316 Added missing category description
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/swagger/v1/swagger.yaml
Labels: back-end

#113 Single project category
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20220421142923_change_project_can_have_only_one_category.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Labels: back-end

#112 feat: PD API returns also list of Projects and Involved Projects
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/project_developer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/spec/factories/project_developer.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#108 feat: require authorized user for direct upload
  backend/config/routes.rb
  backend/spec/requests/direct_upload_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#115 Add a `MultiCombobox` component
  frontend/components/forms/multi-combobox/component.stories.tsx
  frontend/components/forms/multi-combobox/component.tsx
  frontend/components/forms/multi-combobox/dropdown-indicator/component.tsx
  frontend/components/forms/multi-combobox/dropdown-indicator/index.ts
  frontend/components/forms/multi-combobox/dropdown-indicator/types.ts
  frontend/components/forms/multi-combobox/helpers.ts
  frontend/components/forms/multi-combobox/index.ts
  frontend/components/forms/multi-combobox/menu-option/component.tsx
  frontend/components/forms/multi-combobox/menu-option/index.ts
  frontend/components/forms/multi-combobox/menu-option/types.ts
  frontend/components/forms/multi-combobox/multi-value-remove/component.tsx
  frontend/components/forms/multi-combobox/multi-value-remove/index.ts
  frontend/components/forms/multi-combobox/multi-value-remove/types.ts
  frontend/components/forms/multi-combobox/option/component.tsx
  frontend/components/forms/multi-combobox/option/index.ts
  frontend/components/forms/multi-combobox/option/types.ts
  frontend/components/forms/multi-combobox/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/styles/globals.css
  frontend/yarn.lock
Labels: front-end, ready for review

#105 Let 168 profile picture upload component
  frontend/components/forms/image-uploader/component.stories.tsx
  frontend/components/forms/image-uploader/component.tsx
  frontend/components/forms/image-uploader/index.ts
  frontend/components/forms/image-uploader/types.ts
  frontend/pages/project-developers/new.tsx
Labels: front-end

#117 Let 352 fe project creation form
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/projects/new.tsx
  frontend/schemas/project.ts
  frontend/services/enums/enumService.ts
  frontend/services/helpers.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/types.ts
  frontend/types/enums.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Labels: front-end

#119 fix: ENV variables inside routes can be either true or "true"
  backend/config/routes.rb
Labels: back-end

#116 feat: Allow to mark Projects and Project Developers as favourite
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/favourite_project_developers_controller.rb
  backend/app/controllers/api/v1/favourite_projects_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/models/favourite_project.rb
  backend/app/models/favourite_project_developer.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/user.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220426073907_create_favourite_projects.rb
  backend/db/migrate/20220426073933_create_favourite_project_developers.rb
  backend/db/schema.rb
  backend/spec/factories/favourite_project_developers.rb
  backend/spec/factories/favourite_projects.rb
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/favourite_project_developer_spec.rb
  backend/spec/models/favourite_project_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/favourite_project_developers_spec.rb
  backend/spec/requests/api/v1/favourite_projects_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#120 Fix/Backend ticket size description
  backend/Gemfile.lock
  backend/app/models/ticket_size.rb
  backend/app/serializers/api/v1/enums/ticket_size_serializer.rb
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
Labels: back-end

#118 Add forms/ProjectGallery component
  frontend/containers/forms/project-gallery/component.stories.tsx
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/index.ts
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/index.ts
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/forms/project-gallery/types.ts
  frontend/lang/transifex/zu.json
Labels: front-end, wip

#121 Fix/frontend/api deserialization
  frontend/containers/forms/sdgs/component.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/sdgs/component.tsx
  frontend/containers/tags-grid/component.stories.tsx
  frontend/containers/tags-grid/component.tsx
  frontend/containers/tags-grid/types.ts
  frontend/enums/index.ts
  frontend/helpers/user.ts
  frontend/layouts/static-page/header/component.tsx
  frontend/mockups/sdgs.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/new.tsx
  frontend/pages/sign-in/index.tsx
  frontend/services/api.ts
  frontend/services/locations/locations.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/enums.ts
  frontend/types/locations.ts
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
  frontend/types/user.ts
Labels: front-end, ready for review

#122 Connect the PD public page with the API
  frontend/containers/profile-header/component.tsx
  frontend/containers/profile-header/types.ts
  frontend/containers/tags-grid/component.tsx
  frontend/containers/tags-grid/types.ts
  frontend/enums/index.ts
  frontend/next.config.js
  frontend/package.json
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/types/project.ts
  frontend/types/projectDeveloper.ts
  frontend/yarn.lock
Labels: front-end, ready for review

#126 Fix console error on Carousel Paging buttons not having a unique key
  frontend/components/carousel/paging/component.tsx
Labels: bug, front-end, ready for review

#125 Move forms SocialContact inputs to containers/forms/ WebsiteSocial
  frontend/containers/forms/website-social/component.stories.tsx
  frontend/containers/forms/website-social/component.tsx
  frontend/containers/forms/website-social/index.tsx
  frontend/containers/forms/website-social/types.ts
  frontend/pages/project-developers/new.tsx
  frontend/types/projectDeveloper.ts
Labels: front-end, ready for review

#127 Profile header styling change + barebones project page
  frontend/containers/profile-header/component.tsx
  frontend/enums/index.ts
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
  frontend/services/projects/projectService.ts
Labels: front-end, ready for review

#124 Let 352 2 fe project creation form
  frontend/components/forms/tag/component.tsx
  frontend/components/forms/tag/types.ts
  frontend/containers/project-form-pages/index.tsx
  frontend/containers/project-form-pages/pages/funding.tsx
  frontend/containers/project-form-pages/pages/general-information.tsx
  frontend/containers/project-form-pages/pages/impact.tsx
  frontend/containers/project-form-pages/pages/other-information.tsx
  frontend/containers/project-form-pages/pages/project-description.tsx
  frontend/containers/project-form-pages/pages/project-grow.tsx
  frontend/containers/project-form-pages/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/mockups/sdgs.json
  frontend/pages/projects/new.tsx
  frontend/pages/projects/pending.tsx
  frontend/schemas/project.ts
  frontend/services/account/index.ts
  frontend/types/project.ts
  frontend/validations/project.ts
Labels: front-end

#129 Geometry upload input (no map)
  frontend/containers/forms/geometry/component.stories.tsx
  frontend/containers/forms/geometry/component.tsx
  frontend/containers/forms/geometry/helpers.ts
  frontend/containers/forms/geometry/index.ts
  frontend/containers/forms/geometry/types.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, ready for review

#133 fix: use correct geos lib at Dockerfile
  backend/Dockerfile
Labels: back-end
