Repository Vizzuality/heco-invest, pull requests merged in 2022-03, with the labels that each got.

#28 Implement the input component
  frontend/components/forms/component.stories.tsx
  frontend/components/forms/input/component.stories.tsx
  frontend/components/forms/input/component.tsx
  frontend/components/forms/input/constants.ts
  frontend/components/forms/input/index.ts
  frontend/components/forms/input/types.d.ts
  frontend/components/forms/input/types.ts
  frontend/components/forms/validations.ts
  frontend/package.json
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: ready for review

#30 feat: Location model and importer (with Colombia Wiki data)
  backend/app/models/location.rb
  backend/app/models/location_type.rb
  backend/app/services/importers/locations.rb
  backend/db/migrate/20220317074221_create_locations.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/spec/factories/location.rb
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
  backend/spec/models/location_spec.rb
  backend/spec/services/importers/locations_spec.rb
Labels: back-end

#37 API endpoint for locations
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/models/location_type.rb
  backend/app/serializers/api/v1/enums/location_type_serializer.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/services/importers/locations.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/factories/location.rb
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-location-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-location-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/services/importers/locations_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#35 Adding regions to Colombia locations
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/models/location.rb
  backend/app/models/location_member.rb
  backend/app/models/location_type.rb
  backend/app/serializers/api/v1/enums/location_type_serializer.rb
  backend/app/serializers/api/v1/location_serializer.rb
  backend/app/services/importers/locations.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/db/migrate/20220318141809_create_location_members.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/files/colombia_departments.csv
  backend/db/seeds/files/colombia_municipalities.csv
  backend/db/seeds/files/colombia_regions.csv
  backend/spec/factories/location.rb
  backend/spec/factories/location_member.rb
  backend/spec/fixtures/files/dummy_colombia_departments.csv
  backend/spec/fixtures/files/dummy_colombia_municipalities.csv
  backend/spec/fixtures/files/dummy_colombia_regions.csv
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-location-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-location-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/locations-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/models/location_member_spec.rb
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/services/importers/locations_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#36 implement checkbox component
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/checkbox/constants.ts
  frontend/components/forms/checkbox/types.d.ts
  frontend/components/forms/checkbox/types.ts
  frontend/components/forms/select/multi/component.tsx
  frontend/containers/profile-header/component.tsx
  frontend/public/images/checkbox-checked.svg
Labels: front-end

#38 Implement a `Select` component
  frontend/components/forms/select/component.stories.tsx
  frontend/components/forms/select/component.tsx
  frontend/components/forms/select/constants/popper-modifiers.ts
  frontend/components/forms/select/constants/theme.ts
  frontend/components/forms/select/index.ts
  frontend/components/forms/select/listbox/component.tsx
  frontend/components/forms/select/listbox/index.ts
  frontend/components/forms/select/listbox/types.ts
  frontend/components/forms/select/menu/component.tsx
  frontend/components/forms/select/menu/index.ts
  frontend/components/forms/select/multi/component.tsx
  frontend/components/forms/select/multi/index.ts
  frontend/components/forms/select/option/component.tsx
  frontend/components/forms/select/option/index.ts
  frontend/components/forms/select/option/types.ts
  frontend/components/forms/select/popover/component.tsx
  frontend/components/forms/select/popover/index.ts
  frontend/components/forms/select/popover/types.ts
  frontend/components/forms/select/single/component.tsx
  frontend/components/forms/select/single/index.ts
  frontend/components/forms/select/toggle/component.tsx
  frontend/components/forms/select/toggle/index.ts
  frontend/components/forms/select/types.d.ts
  frontend/components/forms/select/types.ts
  frontend/components/icon/component.tsx
  frontend/components/language-selector/component.tsx
  frontend/components/menu/item/component.tsx
  frontend/helpers/refs.ts
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/yarn.lock
Labels: front-end

#32 Implement the layout of the project developer public page
  frontend/components/carousel/aria-live/component.tsx
  frontend/components/carousel/aria-live/index.ts
  frontend/components/carousel/aria-live/types.ts
  frontend/components/carousel/arrows/component.tsx
  frontend/components/carousel/arrows/index.ts
  frontend/components/carousel/arrows/types.ts
  frontend/components/carousel/component.stories.tsx
  frontend/components/carousel/component.tsx
  frontend/components/carousel/index.ts
  frontend/components/carousel/paging/component.tsx
  frontend/components/carousel/paging/index.ts
  frontend/components/carousel/paging/types.ts
  frontend/components/carousel/slide/component.tsx
  frontend/components/carousel/slide/index.ts
  frontend/components/carousel/slide/types.ts
  frontend/components/carousel/types.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-card/component.stories.tsx
  frontend/containers/project-card/component.tsx
  frontend/containers/project-card/index.ts
  frontend/containers/project-card/types.ts
  frontend/hooks/pointer-events.ts
  frontend/lang/transifex/zu.json
  frontend/pages/project-developer/[id]/index.tsx
  frontend/public/images/temp-placeholders/impact-shape.png
  frontend/tailwind.config.js
Labels: front-end, ready for review

#43 Fix rswag empty params that not set content type
  backend/spec/requests/api/v1/session_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: bug, back-end

#42 Feature/Backend user email confirmation
  backend/app/controllers/api/v1/email_confirmations_controller.rb
  backend/app/models/user.rb
  backend/config/initializers/devise.rb
  backend/config/routes.rb
  backend/db/migrate/20220323103412_add_last_confirmation_email_sent_at_to_users.rb
  backend/db/schema.rb
  backend/spec/factories/user.rb
  backend/spec/fixtures/snapshots/api/v1/email-confirmation.json
  backend/spec/models/user_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/email_confirmation_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#45 API endpoint for creating project developer
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/models/account.rb
  backend/app/models/concerns/belongs_to_account.rb
  backend/app/models/location.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_location.rb
  backend/app/serializers/api/v1/blob_serializer.rb
  backend/app/serializers/api/v1/investor_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/services/blobs/get_link.rb
  backend/config/application.rb
  backend/config/environments/test.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/db/migrate/20220324095315_add_entity_legal_registration_number_to_project_developers.rb
  backend/db/migrate/20220324100316_create_project_developer_locations.rb
  backend/db/migrate/20220328102306_add_owner_to_accounts.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/account.rb
  backend/spec/factories/project_developer.rb
  backend/spec/factories/project_developer_location.rb
  backend/spec/fixtures/files/picture.jpg
  backend/spec/fixtures/files/text_file.txt
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-direct-upload.json
  backend/spec/fixtures/snapshots/api/v1/get-investor-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/account_spec.rb
  backend/spec/models/project_developer_location_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/requests/api/v1/session_spec.rb
  backend/spec/requests/api/v1/user_spec.rb
  backend/spec/requests/direct_upload_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#40 Layout for multi-page views/forms
  frontend/components/alert/component.tsx
  frontend/components/alert/index.ts
  frontend/components/alert/types.ts
  frontend/components/forms/select/component.tsx
  frontend/containers/multi-page-layout/aria-live/component.tsx
  frontend/containers/multi-page-layout/aria-live/index.ts
  frontend/containers/multi-page-layout/aria-live/types.ts
  frontend/containers/multi-page-layout/component.stories.tsx
  frontend/containers/multi-page-layout/component.tsx
  frontend/containers/multi-page-layout/footer/component.tsx
  frontend/containers/multi-page-layout/footer/index.ts
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/containers/multi-page-layout/footer/paging/index.ts
  frontend/containers/multi-page-layout/footer/paging/types.ts
  frontend/containers/multi-page-layout/footer/types.ts
  frontend/containers/multi-page-layout/header/component.tsx
  frontend/containers/multi-page-layout/header/index.ts
  frontend/containers/multi-page-layout/header/types.ts
  frontend/containers/multi-page-layout/index.ts
  frontend/containers/multi-page-layout/outro-page/component.tsx
  frontend/containers/multi-page-layout/outro-page/index.ts
  frontend/containers/multi-page-layout/outro-page/types.ts
  frontend/containers/multi-page-layout/page/component.tsx
  frontend/containers/multi-page-layout/page/index.ts
  frontend/containers/multi-page-layout/page/types.ts
  frontend/containers/multi-page-layout/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/naked-page/component.stories.tsx
  frontend/layouts/naked-page/component.tsx
  frontend/layouts/naked-page/index.ts
  frontend/layouts/naked-page/types.ts
  frontend/pages/investors/new.tsx
  frontend/tailwind.config.js
Labels: front-end, ready for review

#41 Let 165 sign up form
  frontend/package.json
  frontend/pages/sign-up.tsx
  frontend/services/users/userService.ts
  frontend/tailwind.config.js
  frontend/types/signup.ts
  frontend/validations/signup.ts
  frontend/yarn.lock
Labels: front-end

#54 Add a `Combobox` component
  frontend/components/forms/combobox/component.stories.tsx
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/index.ts
  frontend/components/forms/combobox/types.ts
Labels: ready for review

#58 feat: Validate images with help of mini_magick
  backend/Dockerfile
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/services/blobs/get_link.rb
  backend/config/initializers/active_storage.rb
  backend/spec/fixtures/snapshots/api/v1/create-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-direct-upload.json
  backend/spec/fixtures/snapshots/api/v1/get-investor.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/investors.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/investors_spec.rb
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#56 feat: API endpoint for updating project developer
  backend/app/controllers/api/v1/accounts/base_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/config/locales/zu.yml
  backend/config/routes.rb
  backend/spec/fixtures/snapshots/api/v1/project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/project-developer-update.json
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#64 feat: Adding /backend url to Swagger doc
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#53 Account type selection page
  frontend/containers/account-type-selector/account-type-item/component.tsx
  frontend/containers/account-type-selector/account-type-item/index.ts
  frontend/containers/account-type-selector/account-type-item/types.ts
  frontend/containers/account-type-selector/component.stories.tsx
  frontend/containers/account-type-selector/component.tsx
  frontend/containers/account-type-selector/index.ts
  frontend/containers/account-type-selector/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
  frontend/pages/sign-up/account-type.tsx
  frontend/public/images/account-types/investor.svg
  frontend/public/images/account-types/project-developer.svg
  frontend/types/index.ts
Labels: front-end, ready for review

#50 Layout for Authentication pages
  frontend/components/alert/component.stories.tsx
  frontend/components/alert/types.ts
  frontend/components/forms/checkbox/component.stories.tsx
  frontend/components/forms/checkbox/component.tsx
  frontend/components/forms/field-error/component.stories.tsx
  frontend/components/forms/field-error/component.tsx
  frontend/components/forms/field-error/index.ts
  frontend/components/forms/field-error/types.ts
  frontend/components/forms/input/component.stories.tsx
  frontend/components/forms/input/component.tsx
  frontend/components/forms/radio/constants.ts
  frontend/components/forms/select/component.stories.tsx
  frontend/components/forms/select/component.tsx
  frontend/components/forms/slider/thumb/component.tsx
  frontend/components/forms/textarea/component.stories.tsx
  frontend/components/forms/textarea/component.tsx
  frontend/containers/multi-page-layout/footer/paging/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/auth-page/aside/component.tsx
  frontend/layouts/auth-page/aside/index.ts
  frontend/layouts/auth-page/aside/types.ts
  frontend/layouts/auth-page/component.stories.tsx
  frontend/layouts/auth-page/component.tsx
  frontend/layouts/auth-page/header/component.tsx
  frontend/layouts/auth-page/header/index.ts
  frontend/layouts/auth-page/header/types.ts
  frontend/layouts/auth-page/index.ts
  frontend/layouts/auth-page/types.ts
  frontend/pages/sign-up.tsx
  frontend/public/images/auth/side-01.jpg
  frontend/public/images/auth/side-02.jpg
Labels: front-end, ready for review
