Repository Vizzuality/heco-invest, pull requests merged in 2022-08, with the labels that each got.

#421 Fix PD, Investor, Project editing updating the data in the wrong language
  frontend/containers/project-form/component.tsx
  frontend/containers/users/invite-users-modal/component.tsx
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/investors/edit.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/pages/projects/new.tsx
  frontend/services/account/index.ts
  frontend/services/investors/investorsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
Labels: bug, front-end, wip

#446 Remove IS_API_INSTANCE as API routes should be always available
  backend/ENV_VARS.md
  backend/config/routes.rb
  backend/docker-compose-test.yml
  infrastructure/base/modules/env/main.tf
Labels: bug, back-end

#447 Fix/transfer ownership of account invitations
  backend/app/models/account.rb
  backend/config/routes/api.rb
  backend/spec/models/account_spec.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#442 Let 777 fe allow the user to change their password
  frontend/lang/transifex/zu.json
  frontend/layouts/settings/navigation/component.tsx
  frontend/pages/settings/information.tsx
  frontend/pages/settings/password.tsx
  frontend/services/users/userService.ts
  frontend/types/user.ts
  frontend/validations/change-password.ts
Labels: front-end

#443 Add change ownership functionality
  frontend/components/confirmation-prompt/component.tsx
  frontend/components/confirmation-prompt/types.d.ts
  frontend/components/table/component.tsx
  frontend/components/table/types.d.ts
  frontend/containers/dashboard/row-menu/component.tsx
  frontend/containers/dashboard/row-menu/types.ts
  frontend/containers/dashboard/users/table/cells/role/component.tsx
  frontend/containers/dashboard/users/table/cells/role/types.ts
  frontend/containers/dashboard/users/table/component.tsx
  frontend/containers/dashboard/users/table/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/users.tsx
  frontend/services/account/index.ts
  frontend/types/user.ts
Labels: front-end

#449 Add description of the 'Orinoquía' priority landscape to the 'for investors' page
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
Labels: front-end, ready for review

#450 Fix incorrect footer email address
  frontend/lang/transifex/zu.json
  frontend/layouts/static-page/footer/component.tsx
Labels: front-end, ready for review

#445 Dashboard favorites
  frontend/components/badge-navigation/component.stories.tsx
  frontend/components/badge-navigation/component.tsx
  frontend/components/badge-navigation/types.ts
  frontend/containers/dashboard/favorites/card-hover-to-delete/component.stories.tsx
  frontend/containers/dashboard/favorites/card-hover-to-delete/component.tsx
  frontend/containers/dashboard/favorites/card-hover-to-delete/index.ts
  frontend/containers/dashboard/favorites/card-hover-to-delete/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard-favorites/component.tsx
  frontend/layouts/dashboard-favorites/index.ts
  frontend/layouts/dashboard-favorites/navigation/component.tsx
  frontend/layouts/dashboard-favorites/navigation/index.ts
  frontend/layouts/dashboard-favorites/navigation/types.ts
  frontend/layouts/dashboard-favorites/types.ts
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/types.ts
  frontend/layouts/discover-page/component.tsx
  frontend/next.config.js
  frontend/pages/dashboard/favorites.tsx
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/open-calls.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
  frontend/services/account/favoritesService.ts
  frontend/services/investors/investorsService.ts
  frontend/services/project-developers/projectDevelopersService.ts
  frontend/services/projects/projectService.ts
  frontend/tailwind.config.js
Labels: front-end, ready for review

#455 New instance variable to differentiate staging from production
  backend/.env.sample
  backend/ENV_VARS.md
  backend/config/environments/production.rb
  infrastructure/base/.terraform.lock.hcl
  infrastructure/base/main.tf
  infrastructure/base/modules/env/main.tf
  infrastructure/base/modules/env/variables.tf
Labels: infrastructure

#452 Add metatag with image thumbnail
  frontend/components/head/component.tsx
  frontend/public/images/heco_invest_thumbnail.png
Labels: front-end

#448 Allow serving images from localhost
  frontend/next.config.js
Labels: front-end

#456 Fix bug causing a table crash when canSort is set to false but a column accessor has not been set
  frontend/components/table/component.tsx
Labels: front-end, ready for review

#453 Users can unfavorite projects, project developers and investors from dashboard/favorites
  frontend/pages/dashboard/favorites/investors.tsx
  frontend/pages/dashboard/favorites/project-developers.tsx
  frontend/pages/dashboard/favorites/projects.tsx
Labels: front-end, ready for review

#457 Fix project cards text alignment when project name spans multiple lines
  frontend/containers/project-card/component.tsx
Labels: front-end, ready for review

#459 Let 859 fe fix token invalid error when a user with a light account type is invited to the platform
  frontend/pages/invitation.tsx
  frontend/pages/sign-in/index.tsx
Labels: bug, front-end

#462 Remove delete icon from owner on users list
  frontend/containers/dashboard/users/table/cells/actions/component.tsx
  frontend/containers/dashboard/users/table/cells/actions/types.ts
Labels: bug, front-end

#460 feat: API for Open Call creation
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220808082718_changes_for_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call-not-found.json
  backend/spec/fixtures/snapshots/api/v1/get-open_call.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/open_calls.json
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#463 feat: API for Open Call update
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220808082718_changes_for_open_calls.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#451 Fe social links
  frontend/components/toast/component.tsx
  frontend/components/toast/types.d.ts
  frontend/containers/profile-header/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
  frontend/containers/share-icons/index.ts
  frontend/containers/share-icons/types.ts
  frontend/lang/transifex/zu.json
Labels: front-end

#465 Let 860 and 850 Fix texts
  frontend/containers/account-pending-approval/component.tsx
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/lang/transifex/zu.json
Labels: bug, front-end

#464 feat: API for deletion of all user favourites
  backend/app/controllers/api/v1/accounts/users_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/users_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#467 Fix development seeds
  backend/db/seeds.rb
Labels: bug, back-end

#466 fix: Account can be deleted via Backoffice
  backend/app/controllers/backoffice/investors_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/controllers/backoffice/users_controller.rb
  backend/app/models/account.rb
  backend/app/models/user.rb
  backend/config/locales/zu.yml
  backend/spec/system/backoffice/investors_spec.rb
  backend/spec/system/backoffice/project_developers_spec.rb
Labels: back-end

#468 Add 'publish draft' option to projects list
  frontend/containers/dashboard/projects/table/cells/actions/component.tsx
  frontend/containers/dashboard/projects/table/cells/actions/types.ts
  frontend/containers/dashboard/projects/table/component.tsx
  frontend/helpers/pages.ts
Labels: front-end

#469 feat: Adding status to Open Call model
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call.rb
  backend/app/models/open_call_status.rb
  backend/app/serializers/api/v1/enums/open_call_status_serializer.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/locales/zu.yml
  backend/db/migrate/20220811122918_add_status_to_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#471 feat: Added impact_calculated attribute to Project model
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/db/migrate/20220812075824_add_impact_calculated_to_projects.rb
  backend/db/schema.rb
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/models/project_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#470 Fix edit project bugs
  frontend/containers/project-form/helpers.ts
  frontend/layouts/protected-page/component.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/types/project.ts
Labels: bug, front-end

#474 Update the information of the About page
  frontend/lang/transifex/zu.json
  frontend/pages/about.tsx
Labels: front-end, ready for review

#461 Let 843 fe create open call form
  frontend/components/forms/date-picker-calendar/component.stories.tsx
  frontend/components/forms/date-picker-calendar/component.tsx
  frontend/components/forms/date-picker-calendar/index.ts
  frontend/components/forms/date-picker-calendar/theme.ts
  frontend/components/forms/date-picker-calendar/types.ts
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/index.ts
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/forms/project-gallery/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/types.ts
  frontend/containers/forms/uploader/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/index.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/pages/pending-verification.tsx
  frontend/containers/open-call-form/types.ts
  frontend/containers/project-form/pages/general-information.tsx
  frontend/enums/index.ts
  frontend/lang/compiled/zu.json
  frontend/lang/transifex/zu.json
  frontend/package.json
  frontend/pages/open-calls/new.tsx
  frontend/pages/projects/new.tsx
  frontend/schemas/open-call.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call.ts
  frontend/yarn.lock
Labels: front-end

#475 feat: Private API endpoint for open calls
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/models/ability.rb
  backend/app/models/concerns/extra_ransackers.rb
  backend/app/models/location.rb
  backend/app/models/open_call.rb
  backend/config/brakeman.ignore
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/models/location_spec.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
  backend/spec/support/shared_examples/models/extra_ransackers.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#476 fix: Backoffice sorting
  backend/app/helpers/application_helper.rb
  backend/app/models/concerns/enum_model.rb
  backend/app/models/project.rb
  backend/app/views/backoffice/investors/index.html.erb
  backend/app/views/backoffice/project_developers/index.html.erb
  backend/app/views/backoffice/projects/index.html.erb
  backend/spec/models/project_spec.rb
Labels: back-end

#478 feat: API for destroying open calls
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#480 Allow investor users to save draft open calls
  frontend/containers/open-call-form/component.tsx
Labels: front-end, ready for review

#477 Let 905 fe implement the open calls list in the dashboard of investors
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/actions/index.ts
  frontend/containers/dashboard/open-calls/table/cells/actions/types.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/index.ts
  frontend/containers/dashboard/open-calls/table/cells/instrument-types/types.ts
  frontend/containers/dashboard/open-calls/table/cells/status/component.tsx
  frontend/containers/dashboard/open-calls/table/cells/status/index.ts
  frontend/containers/dashboard/open-calls/table/cells/status/types.ts
  frontend/containers/dashboard/open-calls/table/component.tsx
  frontend/containers/dashboard/open-calls/table/index.ts
  frontend/containers/dashboard/open-calls/table/types.ts
  frontend/containers/dashboard/search-and-info/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/open-calls.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Labels: front-end

#483 feat: Adding includes param to OpenCall endpoints
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/spec/fixtures/snapshots/api/v1/get-open-call-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls-include-relationships.json
  backend/spec/requests/api/v1/open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#481 refactoring: Use Location model instead of Mosaic enum
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/enums_controller.rb
  backend/app/controllers/api/v1/locations_controller.rb
  backend/app/controllers/backoffice/project_developers_controller.rb
  backend/app/models/ability.rb
  backend/app/models/location.rb
  backend/app/models/location_type.rb
  backend/app/models/mosaic.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/models/project_developer_priority_landscape.rb
  backend/app/serializers/api/v1/enums/mosaic_serializer.rb
  backend/app/serializers/api/v1/project_developer_serializer.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/services/importers/geo_jsons/mosaics.rb
  backend/app/views/backoffice/project_developers/_form.html.erb
  backend/app/views/backoffice/projects/_filters.html.erb
  backend/config/locales/zu.yml
  backend/db/migrate/20220817071733_rename_region_location_type.rb
  backend/db/migrate/20220817071734_create_project_developer_priority_landscapes.rb
  backend/db/migrate/20220817085024_add_visible_to_locations.rb
  backend/db/schema.rb
  backend/lib/tasks/import_geojsons.rake
  backend/lib/tasks/priority_landscapes.rake
  backend/spec/factories/location.rb
  backend/spec/factories/project_developer.rb
  backend/spec/factories/project_developer_priority_landscapes.rb
  backend/spec/fixtures/snapshots/api/v1/account/project-developers-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer-update.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/enums.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-approved-account.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/get-project-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project_developers.json
  backend/spec/fixtures/snapshots/api/v1/projects-include-relationships.json
  backend/spec/models/project_developer_priority_landscape_spec.rb
  backend/spec/models/project_developer_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/locations_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
  backend/spec/services/importers/geo_jsons/mosaics_spec.rb
  backend/spec/swagger_helper.rb
  backend/spec/system/backoffice/project_developers_spec.rb
  backend/spec/system/backoffice/projects_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#479 Allow investor users to launch, close and delete open calls from the Dashboard list
  frontend/containers/dashboard/open-calls/table/cells/actions/component.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Labels: front-end, wip

#485 Refactor code to change mosaic enums for priority landscape location
  frontend/containers/project-developer-form/component.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/types.ts
  frontend/enums/index.ts
  frontend/helpers/pages.ts
  frontend/hooks/useInterests.ts
  frontend/pages/dashboard/account-information.tsx
  frontend/pages/for-investors.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project-developers/edit.tsx
  frontend/schemas/project-developer.ts
  frontend/services/account/index.ts
  frontend/services/locations/locations.ts
  frontend/types/projectDeveloper.ts
  frontend/validations/project-developer.ts
Labels: front-end

#486 feat: Adding code to priority landscapes
  backend/app/serializers/api/v1/location_serializer.rb
  backend/db/migrate/20220819092444_add_code_to_priority_landscapes.rb
  backend/db/schema.rb
  backend/lib/tasks/priority_landscapes.rake
  backend/spec/fixtures/snapshots/api/v1/get-location.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-location-type.json
  backend/spec/fixtures/snapshots/api/v1/locations-filter-by-parent-id.json
  backend/spec/fixtures/snapshots/api/v1/locations.json
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#488 Reference priority landscapes by `code` instead of `id`
  frontend/helpers/pages.ts
  frontend/pages/for-investors.tsx
  frontend/services/locations/locations.ts
  frontend/types/locations.ts
Labels: front-end, ready for review

#487 feat: Priority landscape filter
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects/maps_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/services/api/filterer.rb
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/requests/api/v1/project_developers_spec.rb
  backend/spec/requests/api/v1/projects/maps_spec.rb
  backend/spec/requests/api/v1/projects_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#490 fix: language mismatch - refactoring set_locale wrapper
  backend/app/controllers/api/v1/accounts/investors_controller.rb
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/controllers/api/v1/accounts/project_developers_controller.rb
  backend/app/controllers/api/v1/accounts/projects_controller.rb
  backend/app/controllers/api/v1/investors_controller.rb
  backend/app/controllers/api/v1/open_calls_controller.rb
  backend/app/controllers/api/v1/project_developers_controller.rb
  backend/app/controllers/api/v1/projects_controller.rb
  backend/app/controllers/concerns/api/localization.rb
  backend/spec/requests/api/v1/accounts/investors_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
  backend/spec/requests/api/v1/accounts/project_developers_spec.rb
  backend/spec/requests/api/v1/accounts/projects_spec.rb
Labels: bug, back-end

#489 feat: List of the open calls at backoffice
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/models/open_call.rb
  backend/app/models/open_call_application.rb
  backend/app/models/project.rb
  backend/app/models/project_developer.rb
  backend/app/services/backoffice/csv/open_call_exporter.rb
  backend/app/views/backoffice/base/_full_text_filter.html.erb
  backend/app/views/backoffice/base/_navigation.html.erb
  backend/app/views/backoffice/open_calls/_filters.html.erb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/db/migrate/20220822094637_create_open_call_applications.rb
  backend/db/migrate/20220822104832_add_open_call_applications_count_to_open_calls.rb
  backend/db/schema.rb
  backend/spec/factories/open_call_applications.rb
  backend/spec/models/open_call_application_spec.rb
  backend/spec/services/backoffice/csv/open_call_exporter_spec.rb
  backend/spec/system/backoffice/open_calls_spec.rb
Labels: back-end

#491 Allow investor users to edit their open calls
  frontend/containers/forms/project-gallery/project-gallery-image/component.tsx
  frontend/containers/forms/project-gallery/project-gallery-image/types.ts
  frontend/containers/investor-form/component.tsx
  frontend/containers/investor-form/pages/impacts.tsx
  frontend/containers/open-call-form/component.tsx
  frontend/containers/open-call-form/helpers.ts
  frontend/containers/open-call-form/pages/closing-date.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/open-call-form/types.ts
  frontend/containers/project-form/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/open-call/[id]/edit.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/open-calls/new.tsx
  frontend/pages/project/[id]/edit.tsx
  frontend/schemas/open-call.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
Labels: front-end, ready for review

#492 Allow users to favorite open calls
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
Labels: front-end, ready for review

#498 feat: API for marking/unmarking open calls as favourite
  backend/app/controllers/api/v1/favourite_open_calls_controller.rb
  backend/app/serializers/api/v1/open_call_serializer.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-create.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites-sparse-fieldset.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls-update.json
  backend/spec/fixtures/snapshots/api/v1/account/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/get-open-call.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/open-calls.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/requests/api/v1/favourite_open_calls_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#495 feat: Notify investor owner when open call is destroyed via API
  backend/app/controllers/api/v1/accounts/open_calls_controller.rb
  backend/app/mailers/investor_mailer.rb
  backend/app/views/investor_mailer/open_call_destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/investor_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/open_calls_spec.rb
Labels: back-end

#497 Fix LocationSelectors not using initial values to filter locations
  frontend/containers/forms/location-selectors/component.stories.tsx
  frontend/containers/forms/location-selectors/component.tsx
  frontend/containers/forms/location-selectors/types.ts
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-form/pages/general-information.tsx
Labels: front-end, ready for review

#502 Fix incorrect opencall api url (favoriting)
  frontend/services/open-call/open-call-service.ts
Labels: bug, front-end

#501 Fix project page info card being displayed above the header
  frontend/containers/project-page/header/component.tsx
Labels: front-end, ready for review

#500 feat: Verify/Unverify/Delete open call at backoffice
  backend/app/assets/stylesheets/application.tailwind.css
  backend/app/controllers/backoffice/open_calls_controller.rb
  backend/app/views/backoffice/open_calls/index.html.erb
  backend/config/locales/zu.yml
  backend/config/routes/backoffice.rb
  backend/spec/system/backoffice/open_calls_spec.rb
Labels: back-end

#493 feat: Job API for closing open calls past deadline
  backend/app/controllers/jobs/open_calls_controller.rb
  backend/app/models/open_call.rb
  backend/config/locales/zu.yml
  backend/config/routes/jobs.rb
  backend/spec/models/open_call_spec.rb
  backend/spec/requests/jobs/open_calls_controller_spec.rb
  backend/swagger/v1/swagger.yaml
  infrastructure/base/modules/env/main.tf
Labels: back-end

#503 Display 0-10 total impact scores
  frontend/containers/impact-text/component.tsx
  frontend/containers/modals/impact/component.tsx
  frontend/containers/project-page/impact/component.tsx
  frontend/lang/transifex/zu.json
  frontend/tailwind.config.js
Labels: front-end, ready for review

#504 Tweak the styles of the open call public page
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/overview/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/containers/project-page/overview/component.tsx
  frontend/containers/share-icons/component.tsx
Labels: front-end, ready for review

#505 Fix non-translated project maturity on project public page
  frontend/containers/project-page/funding/component.tsx
Labels: front-end, ready for review

#508 Fixes inconsistencies in displayed languages for first time users (mostly)
  frontend/pages/_app.tsx
Labels: front-end, ready for review

#506 feat: New API endpoint for creating open call applications
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/app/models/open_call_application.rb
  backend/app/models/project_developer.rb
  backend/app/serializers/api/v1/open_call_application_serializer.rb
  backend/config/routes/api.rb
  backend/db/migrate/20220825081811_changes_for_open_call_applications.rb
  backend/db/schema.rb
  backend/spec/factories/open_call_applications.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/models/open_call_application_spec.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#507 Add open call cards, open call search page
  frontend/containers/discover-notice/component.tsx
  frontend/containers/discover-notice/index.ts
  frontend/containers/discover-notice/types.ts
  frontend/containers/open-call-card/component.stories.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/containers/open-call-card/index.ts
  frontend/containers/open-call-card/types.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
  frontend/mockups/investor.json
  frontend/mockups/openCall.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/tailwind.config.js
Labels: front-end, ready for review

#509 feat: API endpoint for deleting Open Call Applications
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#510 feat: Impact Area enum contains Impact flag
  backend/app/models/impact.rb
  backend/app/models/impact_area.rb
  backend/app/serializers/api/v1/enums/impact_area_serializer.rb
  backend/app/views/backoffice/projects/_form.html.erb
  backend/spec/fixtures/snapshots/api/v1/enums.json
Labels: back-end

#512 Group the impacts by dimension in the project form
  frontend/components/forms/field-info/component.stories.tsx
  frontend/components/forms/field-info/component.tsx
  frontend/components/forms/field-info/types.ts
  frontend/containers/forms/filters/component.tsx
  frontend/containers/impact-chart/component.tsx
  frontend/containers/investor-form/pages/impacts.tsx
  frontend/containers/investor-form/pages/investment.tsx
  frontend/containers/investor-form/pages/profile.tsx
  frontend/containers/open-call-form/pages/expected-impact.tsx
  frontend/containers/open-call-form/pages/funding-information.tsx
  frontend/containers/open-call-form/pages/information.tsx
  frontend/containers/project-developer-form/pages/about.tsx
  frontend/containers/project-developer-form/pages/profile.tsx
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/funding.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/containers/project-form/pages/impact.tsx
  frontend/containers/project-form/pages/other-information.tsx
  frontend/containers/project-form/pages/project-description.tsx
  frontend/containers/project-form/pages/project-grow.tsx
  frontend/containers/project-form/types.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#514 Fix a bug preventing the edition of projects, especially drafts
  frontend/containers/project-form/component.tsx
  frontend/containers/project-form/pages/general-information.tsx
  frontend/pages/project/[id]/edit.tsx
Labels: front-end, ready for review

#511 Project developers can apply to an open call
  frontend/components/forms/combobox/component.tsx
  frontend/components/forms/combobox/types.ts
  frontend/components/forms/select/listbox/component.tsx
  frontend/components/forms/select/listbox/types.ts
  frontend/containers/open-call-application-modal/component.tsx
  frontend/containers/open-call-application-modal/index.ts
  frontend/containers/open-call-application-modal/types.ts
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/open-call-page/header/types.ts
  frontend/containers/open-call-page/investor/component.tsx
  frontend/containers/open-call-page/investor/types.ts
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/open-call/[id]/index.tsx
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call-application.ts
Labels: front-end, ready for review

#515 feat: API for updating open call applications (funding/not_funding)
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-update.json
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#513 feat: API for list of OpenCallApplications for private area
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/models/ability.rb
  backend/config/routes/api.rb
  backend/db/seeds.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-application-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-application-investor.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-application-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-investor.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-project-developer.json
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-sparse-fieldset.json
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: back-end

#516 Allow visitors to filter projects and PDs by priority landscape
  frontend/containers/forms/filters/component.tsx
  frontend/containers/search-auto-suggestion/component.tsx
  frontend/helpers/pages.ts
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#522 Add a FAQ entry about the impact calculation
  frontend/containers/faq-page/answers/projects/project-impact/component.tsx
  frontend/containers/faq-page/answers/projects/project-impact/index.ts
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#518 Project developer open calls dashboard w/ sorting + withdrawing an open call
  frontend/containers/dashboard/open-call-applications/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-call-applications/table/cells/actions/index.ts
  frontend/containers/dashboard/open-call-applications/table/cells/actions/types.ts
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-applications/table/index.ts
  frontend/containers/dashboard/open-call-applications/table/types.ts
  frontend/containers/open-call-application-modal/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/pages/dashboard/open-call-applications.tsx
  frontend/services/open-call/application-service.ts
  frontend/services/open-call/open-call-service.ts
  frontend/types/open-call-applications.ts
  frontend/types/open-calls.ts
  frontend/validations/open-call-application.ts
Labels: front-end, ready for review

#521 refactoring: shortening ticket size description
  backend/config/locales/zu.yml
  backend/spec/fixtures/snapshots/api/v1/enums.json
Labels: back-end

#520 feat: notify investor when PD withdraws its application
  backend/app/controllers/api/v1/accounts/open_call_applications_controller.rb
  backend/app/mailers/investor_mailer.rb
  backend/app/views/investor_mailer/open_call_application_destroyed.html.erb
  backend/config/locales/zu.yml
  backend/spec/mailers/investor_mailer_spec.rb
  backend/spec/requests/api/v1/accounts/open_call_applications_spec.rb
Labels: back-end

#525 fix: Adding missing FTS attributes required for OpenCall
  backend/app/services/api/filterer.rb
  backend/spec/services/api/filterer_spec.rb
Labels: bug, back-end

#523 PD users can see a detailed view of the open calls they applied to in the Dashboard
  frontend/components/button/constants.ts
  frontend/containers/breadcrumbs/component.stories.tsx
  frontend/containers/breadcrumbs/component.tsx
  frontend/containers/breadcrumbs/types.ts
  frontend/containers/dashboard/open-call-applications/table/cells/actions/component.tsx
  frontend/containers/dashboard/open-call-applications/table/cells/actions/types.ts
  frontend/containers/dashboard/open-call-applications/table/component.tsx
  frontend/containers/dashboard/open-call-applications/withdraw-application-modal/component.tsx
  frontend/containers/dashboard/open-call-applications/withdraw-application-modal/index.ts
  frontend/containers/dashboard/open-call-applications/withdraw-application-modal/types.ts
  frontend/containers/share-icons/component.tsx
  frontend/enums/index.ts
  frontend/lang/transifex/zu.json
  frontend/layouts/dashboard/component.tsx
  frontend/layouts/dashboard/types.ts
  frontend/pages/dashboard/open-call-applications/[id]/index.tsx
  frontend/pages/dashboard/open-call-applications/index.tsx
  frontend/services/open-call/application-service.ts
  frontend/types/open-call-applications.ts
Labels: front-end, ready for review
