Repository Vizzuality/heco-invest, pull requests merged in 2023-01, with the labels that each got.

#719 fix: Reset impact attributes when project geometry changes
  backend/Gemfile.lock
  backend/app/models/project.rb
  backend/spec/factories/project.rb
  backend/spec/models/project_spec.rb
  backend/spec/services/api/filterer_spec.rb
  backend/spec/services/api/sorter_spec.rb
Labels: back-end

#716 Change labels of location inputs of project create/edit project form
  frontend/containers/project-form/pages/general-information.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#715 Change action from arrow icon to the whole card
  frontend/containers/for-public-pages/public-page-card/component.tsx
Labels: front-end

#721 Show search location box always open on project forms
  frontend/containers/discover-map/location-searcher/component.tsx
  frontend/containers/discover-map/location-searcher/types.ts
  frontend/containers/forms/geometry/component.tsx
Labels: front-end

#722 fix select priority landscape impact bug
  frontend/containers/impact-chart/component.tsx
Labels: bug, front-end

#725 Change texts of static pages to explain project meaning
  frontend/containers/home/use-platform/component.tsx
  frontend/lang/transifex/zu.json
  frontend/pages/for-investors.tsx
  frontend/pages/for-project-developers.tsx
Labels: front-end

#728 Add no discover results component
  frontend/containers/discover-no-results/component.tsx
  frontend/containers/discover-no-results/index.ts
  frontend/containers/discover-no-results/types.ts
  frontend/lang/transifex/zu.json
  frontend/pages/discover/investors.tsx
  frontend/pages/discover/open-calls.tsx
  frontend/pages/discover/project-developers.tsx
  frontend/pages/discover/projects.tsx
  frontend/svgs/discover/no-results.svg
Labels: front-end

#730 Change text of project form duration info button
  frontend/containers/project-form/pages/project-description.tsx
  frontend/lang/compiled/zu.json
Labels: front-end

#726 feat: Enqueue Klab jobs when projects geometry is changed and KLAB is enabled
  backend/.env.sample
  backend/ENV_VARS.md
  backend/app/jobs/klab/calculate_impacts_job.rb
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/serializers/api/v1/project_serializer.rb
  backend/db/migrate/20230116094656_add_impact_demands_to_projects.rb
  backend/db/migrate/20230116095307_add_project_impacts_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-create.json
  backend/spec/fixtures/snapshots/api/v1/accounts-project-update.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/get-project.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/fixtures/snapshots/api/v1/user-create.json
  backend/spec/fixtures/vcr_cassettes/calculate_project_impact_score.json
  backend/spec/fixtures/vcr_cassettes/export.json
  backend/spec/models/project_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
  backend/spec/swagger_helper.rb
Labels: back-end

#733 Update FAQ text
  frontend/hooks/useFaq.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#734 Fix spelling
  frontend/containers/discover-no-results/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end

#732 feat: Finalisation of klab submit_contexts job
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/services/klab/build_context_string.rb
  backend/spec/fixtures/vcr_cassettes/klab/calculate_project_impact_score.json
  backend/spec/fixtures/vcr_cassettes/klab/submit_context.json
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Labels: back-end

#723 FE - Improve search results page performance
  frontend/containers/discover-map/component.tsx
  frontend/containers/open-call-card/component.tsx
  frontend/layouts/discover-page/component.tsx
  frontend/layouts/discover-page/helpers.ts
  frontend/services/open-call/open-call-service.ts
  frontend/services/projects/projectService.ts
Labels: front-end

#738 Address 2 production vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, ready for review

#739 Update the copyright holder
  LICENSE
  data/LICENSE
Labels: front-end, ready for review

#740 Update the button's wording of the error pages
  frontend/lang/transifex/zu.json
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/pages/_error.tsx
Labels: front-end, ready for review

#742 Fix the visibility of the HeCo Invest logo on the crash error page
  frontend/containers/layouts/logo/component.tsx
  frontend/containers/layouts/logo/types.ts
  frontend/layouts/dashboard/header/component.tsx
  frontend/layouts/discover-page/header/component.tsx
  frontend/layouts/static-page/header/component.tsx
  frontend/layouts/static-page/header/types.ts
  frontend/pages/index.tsx
Labels: front-end, ready for review

#743 Add new GA event to track visits to the entities (projects, PDs, open calls and investors)
  frontend/pages/investor/[id]/index.tsx
  frontend/pages/open-call/[id]/index.tsx
  frontend/pages/project-developer/[id]/index.tsx
  frontend/pages/project/[id]/index.tsx
Labels: front-end, ready for review

#744 feat: Finalisation of klab calculate_impacts job
  backend/Gemfile.lock
  backend/app/jobs/impact_calculation_job.rb
  backend/app/jobs/klab/calculate_impacts_job.rb
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/services/klab/build_context_string.rb
  backend/db/migrate/20230120094013_add_demands_calculated_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/jobs/impact_calculation_job_spec.rb
  backend/spec/jobs/klab/calculate_impacts_job_spec.rb
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
Labels: back-end

#741 feat: Finalisation of klab poll_impact_demands job
  backend/Gemfile.lock
  backend/app/jobs/impact_calculation_job.rb
  backend/app/jobs/klab/calculate_impacts_job.rb
  backend/app/jobs/klab/poll_impact_demands_job.rb
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/models/project.rb
  backend/app/services/impacts/calculate_for_project.rb
  backend/app/services/klab/build_context_string.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/export_artifact.rb
  backend/app/services/klab/poll_ticket.rb
  backend/app/services/klab/submit_context.rb
  backend/db/migrate/20230120094013_add_demands_calculated_to_projects.rb
  backend/db/schema.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/vcr_cassettes/klab/demands_for_open_ticket.json
  backend/spec/fixtures/vcr_cassettes/klab/demands_for_resolved_ticket.json
  backend/spec/jobs/impact_calculation_job_spec.rb
  backend/spec/jobs/klab/calculate_impacts_job_spec.rb
  backend/spec/jobs/klab/poll_impact_demands_job_spec.rb
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/models/project_spec.rb
  backend/spec/services/impacts/calculate_for_project_spec.rb
Labels: back-end

#747 Update map search location
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/location-searcher/component.tsx
Labels: front-end

#750 feat: Adding service for building k.LAB context string
  backend/app/jobs/klab/submit_contexts_job.rb
  backend/app/services/klab/README.md
  backend/app/services/klab/build_context_string.rb
  backend/app/services/klab/calculate_project_impact_score.rb
  backend/app/services/klab/run.rb
  backend/app/services/klab/submit_context.rb
  backend/spec/factories/project.rb
  backend/spec/fixtures/snapshots/api/v1/account/open-call-applications-create.json
  backend/spec/fixtures/snapshots/api/v1/account/projects-favourites.json
  backend/spec/fixtures/snapshots/api/v1/account/projects.json
  backend/spec/fixtures/snapshots/api/v1/get-project-developer-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-developers-include-relationships.json
  backend/spec/fixtures/snapshots/api/v1/project-maps.json
  backend/spec/fixtures/snapshots/api/v1/projects.json
  backend/spec/jobs/klab/submit_contexts_job_spec.rb
  backend/spec/services/klab/build_context_string_spec.rb
  backend/spec/services/klab/calculate_project_impact_score_spec.rb
Labels: back-end

#753 feat: Adding simple rake task which recalculates impacts with k.LAB values
  backend/lib/tasks/klab.rake
Labels: back-end

#751 Add an explanation of why HeCo Invest uses the US dollar
  frontend/containers/faq-page/answers/projects/project-info/component.tsx
  frontend/containers/faq-page/answers/shared-lists/funding-types/component.tsx
  frontend/containers/open-call-page/header/component.tsx
  frontend/containers/project-page/header/component.tsx
  frontend/lang/transifex/zu.json
Labels: front-end, ready for review

#746 Let 1346 fe improve map layers options visibility
  frontend/components/expando/component.tsx
  frontend/components/map/legend/component.stories.tsx
  frontend/components/map/legend/item/component.tsx
  frontend/components/map/legend/item/types.d.ts
  frontend/components/map/legend/mock.tsx
  frontend/components/map/legend/types.d.ts
  frontend/containers/discover-map/component.tsx
  frontend/containers/discover-map/layer-info-modal/component.tsx
  frontend/containers/discover-map/layer-info-modal/index.ts
  frontend/containers/discover-map/layer-info-modal/types.ts
  frontend/containers/discover-map/layer-info/component.tsx
  frontend/containers/discover-map/layer-info/index.ts
  frontend/containers/discover-map/layer-info/types.ts
  frontend/containers/discover-map/layer-legend/component.tsx
  frontend/containers/discover-map/layer-legend/types.ts
  frontend/containers/discover-map/layer-tooltip/component.tsx
  frontend/containers/discover-map/layer-tooltip/index.ts
  frontend/containers/discover-map/layer-tooltip/types.ts
  frontend/containers/discover-map/map-help/component.tsx
  frontend/containers/discover-map/map-layers-selector/component.tsx
  frontend/containers/discover-map/map-layers-selector/types.ts
  frontend/containers/discover-map/types.ts
  frontend/hooks/useLayers.ts
  frontend/lang/transifex/zu.json
Labels: front-end
